<p>
  <b>Description:</b>
  <%=h @punch_clock_set.description %>
</p>
<p>
  <b>Users:</b>
  <ol>
  <% @punch_clock_set.users.each do |u| %>
  <l1><%= u.name %></li>
  <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_punch_clock_set_path(@punch_clock_set) %> |
<%= link_to 'Back', punch_clock_sets_path %>
