<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Hours</th>
  </tr>
  <% mini_payform.payform_items.each do |item| %>
    <% if item.active %>
      <tr>
        <td><%= item.date.strftime('%b %d') %></td>
        <td><%= truncate(item.description, 80, "...") %></td>
        <td><%= number_with_precision(item.hours, :precision => 2) %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td colspan="2"><strong>Total:</strong></td>
    <td><%= number_with_precision(mini_payform.hours, :precision => 2) %></td>
  </tr>
</table>

