<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Hours</th>
  </tr>
  <% mini_payform.payform_items.each do |item| %>
    <% if item.active %>
      <tr>
        <td><%= item.date.strftime('%b %d') %></td>
        <td><%= item.description %></td>
        <td><%= item.hours.round(1).to_s %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td><strong>Total:</strong><td>
    <td><%= mini_payform.hours.round(1) %></td>
  </tr>
</table>