<h1>Listing announcements</h1>

<table>
  <tr>
  </tr>

<% @announcements.each do |announcement| %>
  <tr>
    <td><%= link_to 'Show', announcement %></td>
    <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
    <td><%= link_to 'Destroy', announcement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New announcement', new_announcement_path %>