.bundle
*~
log/*
tmp/*
db/schema.rb
Rakefile
.DS_Store
.project
*.orig
*.sqlite3
cleangit
config/database.yml
Vagrantfile
.vagrant/
.ruby-version
.rbenv-version
config/initializers/airbrake.rb
public/attachments
