<div id = "for_you">
    <%= render :partial => 'for_you' %>
</div>
<div id = "location_notices">
<% current_department.locations.each do |loc| %>
  <% unless loc.find_notices.empty? %>
  <fieldset class ="index">
    <legend id ="blue_fieldset"><%= loc.name %></legend>
    <%= render :partial => 'notice', :collection => loc.find_notices%>
  </fieldset>
  <br/>
  <% end %>
<% end %>
</div>

