<% current_department.get_links.each do |link|%>
  <li>
    <% if current_user.is_admin_of?(current_department) %>
        <%= link_to '[x]', { :controller => 'links', :action => 'destroy', :id => link.id },
                                   :confirm => "Are you sure you want to remove this useful link?",
                                   :method => :delete %>
    <% end %><%= link_to "#{link.content}", "#{link.url}", :popup => true %>
  </li>
<%end%>
<%if current_user.is_admin_of?(current_department) %>
		<li><%= link_to_post_a_link %></li>
<%end%>

