<% if notice.class.name == "Sticky" %>
   <div class="report">    <%= render :partial => 'notices/sticky', :object => notice %> </div>
<% elsif notice.class.name == "Announcement" %>
   <div class="report">    <%= render :partial => 'notices/announcement', :object => notice %> </div>
<% end %>

