<h1 id = "page_title" >Stickies and Announcements archive</h1>
<fieldset class="index">
  <legend>Inactive Notices</legend>
  <%= render :partial => 'notice', :collection => Notice.inactive %>
</fieldset>

