<h1 id = "page_title" > Notices archive </h1>
<fieldset class="index">
  <legend>Inactive announcements</legend>
  <%= render partial: 'notices/notice', collection: @notices.select{|n| n.type=='Announcement'}, locals: {html_class: "index_notice"} %>
</fieldset>
<fieldset class="index">
  <legend>Inactive stickies</legend>
  <%= render partial: 'notices/notice', collection: @notices.select{|n| n.type=='Sticky'}, locals: {html_class: "index_notice"} %>
</fieldset>
<fieldset class="index">
  <legend>Inactive links</legend>
  <%= render partial: 'notices/link', collection: @notices.select{|n| n.type=='Link'} %>
</fieldset>
