<h4 id="page_title"><%= link_to '<-- return to all notices', notices_path %></h4>
<fieldset class ="index">
  <legend>Inactive Notices</legend>
  <%= render :partial => 'notice', :collection => Notice.inactive %>
</fieldset>

