<%= stylesheet_link_tag 'thickbox', 'notice', 'shift' %>
<% javascript 'jrails', 'jquery', 'jquery-ui', 'thickbox-compressed' %>

<h1 id="page_title">
  Notices
</h1>
<div id = "for_you">
<% unless current_user.notices.empty? %>
  <fieldset class ="index">
    <legend>For you</legend>
    <%= render :partial => 'for_you' %>
  </fieldset>
  <br />
<% end %>
</div>
<div id = "location_notices">
<% current_department.locations.each do |loc| %>
  <% unless loc.find_notices.empty? %>
  <fieldset class ="index">
    <legend><%= loc.name %></legend>
    <%= render :partial => 'notice', :collection => loc.find_notices%>
  </fieldset>
  <br/>
  <% end %>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
    page.replace_html("for_you", :partial => "for_you" );
    page.replace_html("location_notices", :partial => "notice", :collection => "loc.notices" );
</script>

