<% content_for :title, "Notices" %>
<h1 id="page_title">Notices</h1>
<%= link_to_post_a_sticky() %>
<%= link_to_post_an_announcement %> <br /> <br />
<div id="all_notices">
  <%= render :partial => "all_notices" %>
</div>

