<%= render :partial => "calendars/schedule/location", :collection => loc_group.locations.sort_by(&:priority).reverse, :locals => {:day => day} %>
<%# This isn't really a day devider as much as a (location-)within-a-day divider %>
<div class="day divider" style="height: <%= @divider_height %>px;"></div>
