<% @completed_tasks.each do |task| %>	
	<tr> 
	  <td><%=h task.shift.user.name%></td>
	  <td><%=h task.created_at.strftime("%A, %B %d %Y") %></td> 
	  <td><%=h task.created_at.strftime("%I:%M %p")%></td>
    <td><%=h task.shift.location.name %></td>
	</tr>
<% end %>

