<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>User</th>
			<th>Shift</th>
			<th>Time</th>
		</tr>
	</thead>
	<tbody>
<% if @shifts_tasks.empty? %>
	<tr>
		<td colspan=5>There are no records for this task.</td>
	</tr>
<% else %>
	<% @shifts_tasks.each do |task| %>	
		<tr> 
		  <td><%=h task.shift.start.strftime("%Y-%m-%d")%>	
		  <td><%=h link_to task.shift.user.name, user_path(task.shift.user)%></td>
		  <td><%=h link_to task.shift.short_display, shift_path(task.shift)%></td> 
		  <td><%=h task.created_at.strftime("%I:%M %p") %></td>
		</tr>
	<% end %>
<% end %>
</tbody>
</table>

