<% @completed_tasks.each do |shifts_task| %>	
	<tr> 
	  <td><%=h shifts_task.shift.user.name%></td>
	  <td><%=h shifts_task.created_at.strftime("%A, %B %d %Y") %></td>
	  <td><%=h shifts_task.created_at.strftime("%I:%M %p")%></td>
      <td><%=h shifts_task.shift.location.name %></td>
	</tr>
<% end %>

