<% content_for :head do %>
  <% stylesheet 'report'%>  
<% end %>

<h2>Recent completions of: <%= Task.find(@tasks.task_id).name%></h2>
<table>
	<tr>
		<th>User</th>
		<th>Date</th>
		<th>Time</th>
		<th>Location</th>
	</tr>
		<%= render :partial => "task_items", :collection => @completed_tasks %>
  </table>

<% #TODO: Clean up View to be more report style orientated %>


<%= link_to "Back to List", tasks_path%>

<%# form_remote_tag :url => { :action => 'display_task_items' } do %>
 <%#= submit_tag "view more", :class => "view_more" %>
<%# end %>
