<% content_for :head do %>
  <% stylesheet 'report'%>  
<% end %>
<h2>Recent missed instances of: <%= @task.name%></h2>
<table>
	<tr>
		<th>User</th>
		<th>Date</th>
		<th>Time</th>
		<th>Location</th>
	</tr>
		<%= render :partial => "task_items" %>
  </table>
<%= link_to "Back to List", tasks_path%>
