<% content_for :head do %>
  <% stylesheet 'report'%>  
<% end %>
<h2>Recent missed instances of: <%= @task.name%></h2>
<table>
	<thead>
		<tr>
			<th>User</th>
			<th>Shift</th>
			<th>Date</th>
			<th>Time</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => "task_items" %>
	</tbody>
</table>

<%= link_to "Back to List", tasks_path%>