    <p>
      <%= label :data_field, :alerts %><br />
      <%= text_field :data_field, :exact_alert %><br />
      <small><em>You will receive a warning when a value matches the alert value.</small></em>
    </p>
