    <p>
      <%= label :data_field, :alerts, text="Upper and Lower Bounds" %><br />
      Upper: <%= text_field :data_field, :upper_bound %><br />
      Lower: <%= text_field :data_field, :lower_bound %><br />
      <small><em>You will receive a warning when a value is above or below these bounds</small></em>
    </p>
