<% title "Add Data Field" %>
<span id="progress_bar">
  Step 1 &#8680; <span id="current_step">Step 2</span> &#8680; Step 3
</span>
<%= render :partial => 'form' %>

<p><%= link_to "Back to Data type", data_type_path(params[:data_type_id]) %></p>
