<% title "New Payform Item Set" %>

<%= render :partial => 'form', :locals => {:submit => "Create", :payform_item => [@payform,@payform_item]} %>

<p><%= link_to "Back to List", payform_item_sets_path %></p>
