/* Main Styles and IDs */

/* Make the vertical scrollbar always appear */


/* =CORE GLOBAL STYLES
======================================================================= */
html {
  overflow-y: scroll;
}
body {
	color: #000;
  margin: 0pt;
  padding: 0pt;
  font-family: Trebuchet MS, Verdana, Arial, serif;
  font-size: 11px;
  background-color: #E9E9E9;
  background-image: none;
}
table, td, th{
	border:1px solid #666;
	padding: 2px;
	border-collapse:collapse;
}
th{
	background: #778899;
	border:1px solid black;
	color: white;
}
h1, h2, h3, h4, h5, h6 {
  margin: 2px 0px;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 14px;
}
h3 {
  font-size: 12px;
  font-weight: bold;
}
a:link, a:visited {
  text-decoration: none;
}
a {
  color: #104e8b;
}
a:hover{
	color: orange;
}
textarea {
  overflow: auto;
}
ul{
	/*these guys are overflowing left for some reason*/
	margin-left: 20px;
}
/*Align all labels with their form elements*/
label {
  vertical-align: baseline;
}

/* = Flash (THIS NEEDS CLEANUP / DUP REMOVAL )
======================================================================= */
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
  font-size:11px;
  margin-top:10px;
  padding:5px 8px;
}
#flash_warning {
  background-color:#FFF0AA;
  border:1px solid #908C99;
}
#flash_notice {
  background-color:#98EEC3;
  border:1px solid #21A454;
  font-size:11px;
  margin-top:10px;
  padding:5px 8px;
}
#flash_big_notice {
  background-color:#FFCCCC;
  border:1px solid #CC6666;
  font-size:11px;
  margin-top:10px;
  padding:5px 8px;
}

.flash {
  border: 1px solid;
  font-size:11px;
  margin:2px;
  padding:2px;
}
.flash#flash_error {
  background-color: #ffcccc;
  border-color: #cc6666;
}
.flash#flash_warning {
  background-color:#fff0aa;
  border-color: #908c99;
}
.flash#flash_notice {
  background-color:#98eec3;
  border-color: #21a454;
}


/* = Header-specific classes
======================================================================= */

#pagebox {
  background: #FFFFFF url(../images/pagebox_shadow_bkgd.gif) repeat scroll 0% 0%;
  margin: 0px auto;
  padding: 0pt 12px;
  width: 900px;
  border: medium none;
}
#pageboxBottom {
  background: transparent url(../images/pagebox_shadow_bottom.gif) no-repeat scroll 0% 0%;
  height: 12px;
  margin: 0px auto;
  padding-bottom: 2px;
  width: 924px;
}
#page_header {
  background-color: #536E8D;
  border-bottom: 1px solid #FFFFFF;
  float: left;
  width: 100%;
  height: 35px;
  padding: 0px;
}
#page_header h2 {
  background: transparent url(../images/theme/header.gif) no-repeat scroll 0% 0%;
  float: left;
  font-size: 12px;
  margin: 0pt;
  text-indent: -9999px;
  border-bottom: none;
}
#page_header h2 a {
  display: block;
  height: 36px;
  width: 130px;
}
#main_banner {
  background: #869FC7 url(../images/theme/main_banner.jpg) no-repeat scroll 0% 0%;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  clear: both;
  height: 85px;
  margin: 0px auto;
  padding: 0px;
}
#main_banner h1 {
  float: left;
  font-size: 12px;
  height: 0pt;
  margin: 0pt;
  text-indent: -9999px;
}
#main_banner img {
  display: block;
  color: #FFFFFF;
}

/* login
--------------------------------------------------------- */
div#login{
  float: right;
  width: 84.2%;
  margin: 0 auto;
  text-align: right;
  color: whitesmoke;
}
#login p {
  margin: 9pt 10px 0pt 0pt;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.1em;
  color: #FFFFFF;
  float: right;
}
#login p.login_status {
  color: #fff;
}
#login a.login_status {
  color: #660000;
  font-weight: bold;
  text-decoration: none;
}
#login a.login_status:hover {
  color: #CC0000;
}

/* Link bar (chooser + tabs)
======================================================================= */
#link_bar {
  background-color: #8B9B6C;
  border-bottom: 1px solid #FFFFFF;
  height: 25px;
  padding: 5px 10px 4px;
}

/* chooser
--------------------------------------------------------- */
#chooser {
  float: left;
  width: 250px;
  padding: 0px 5px 0px 10px;
  margin-top: 1px;
  font-size: 12px;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Arial, sans-serif;
  line-height: 1.6em;
}

/* tabs
--------------------------------------------------------- */
#application_tab_bar {
  float: right;
  width: 600px;
}
ul#application_tabs {
  float: right;
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 12px;
  margin: 0pt 5px 0pt 0pt;
  padding: 0pt;
  line-height: 1.6em;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: square;
}
ul#application_tabs li {
  display: inline;
  line-height: 11px;
  list-style-type: none;
  margin: 0pt;
  padding: 0pt;
}
ul#application_tabs a {
  color: #FFFFFF;
  float: left;
  line-height: 11px;
  margin: 6px 12px 0px;
  text-decoration: none;
}
ul#application_tabs a:hover {
    border-bottom:2px solid #EEF0AE;
    padding-bottom:1px;
}


/* = navigation-related classes --> not needed with Superfish menu
======================================================================= */

/*ul#navigationList {
  color: #415578;
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.7em;
  margin: 40px 0 0;
  margin-left: -5px;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: square;

  float: left;
  padding: 5px 0px 5px 20px;
}
ul#navigationList li {
  list-style-type: none;
  margin-left: 0px;
}
ul#navigationList li ul {
  font-size: 10px;
  margin: 0pt;
  padding: 0pt 0pt 0pt 17px;
}
ul#navigationList li a, ul#navigationList li h3 {
  height: 1%;
  display: inline;
}
ul#navigationList h3 {
  color: #26287f;
}
ul#navigationList a:link, ul#navigationList a:visited {
  color: #2758B3;
  text-decoration: none;
}
ul#navigationList a:hover {
  color: #FF9933;
  text-decoration: none;
}
*/
/* = main content classes
======================================================================= */

#contentNav, #contentNoNav {
  background: transparent none no-repeat scroll 0% 0%;
  height: auto !important;
  min-height: 450px;
}
#contentNav h1, #contentNoNav h1 {
  padding: 0px 0px 5px 0px;
}
#contentNav {
  float: left;
  padding: 30px 30px 10px 30px;
  width: 650px;
}
#contentNoNav {
  padding: 30px;
  width: 840px;
}
#page_title {
  padding: 0 0 0;
  margin-bottom: 15px;
  border-bottom: thin solid #408080;
}
#subtitle {
  padding: 0 0;
  margin-top: -8px;
  margin-bottom: 5px;
  color: gray;
}

/* = footer-specific classes
======================================================================= */
#footer {
  background-color: #536E8D;
  border-bottom: medium none;
  border-top: medium none;
  clear: both;
  padding: 5px 10px 15px;
}
#footer a {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
p.footer {
  color: #FFFFFF;
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.6em;
  margin: 0px 0px 0px 180px;
  padding: 0em;
}


/* = currently only used by loc_group and location forms
======================================================================= */

table.manage_table{
  border: 1px solid #666666;
  border-collapse: collapse;
  width: 100%;
  padding: 4px;
}
table.manage_table caption{
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  padding-top: 1em;

}
table.manage_table td {
  border: 1px solid #666666;
  text-align: center;
}
table.manage_table th {
  border: 1px solid #666666;
}
.admin_form label {
  width: 20em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}

/* = fieldset styles - NEEDS CLEANUP
======================================================================= */

fieldset.index {
  padding: 5px;
  margin: 0px 0px 5px 0px;
  border: 1px solid gray;
  background-color:#DDDDFF
}
fieldset#warning {
  background: #C0C0C0;
}
fieldset#schedule{
	clear: both;
}
div#right_stuff {
 float:right;
 width: 47.5%;
}
div#left_stuff {
 float:left;
 width: 47.5%;
}
legend {
  color: #eef;
  background: #123456;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

/* used in all_notices, but why? */
#blue_fieldset fieldset {
  background: #ddf;
}
#blue_fieldset fieldset legend {
  color: #eef;
  background: #123456;
  font-family: sans-serif;
  padding: 0.2em 1em;
}




/* = Error explanation styles
======================================================================= */

#errorExplanation {
  width: 400px;
  border-style: solid;
  border-color: #CF0000;
  border-width:2px;
  padding: 0px;
  padding-bottom: 12px;
  margin-top: 10px;
	margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
#errorExplanation ul {
  margin: 2px 24px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* = Notices
======================================================================= */
/*this is used for useful links*/
span.success_notification{
  background-color:#98eec3;
  border-color: #21a454;
}
ul#useful_links {
    list-style-type: none;
    display: inline !important;
    float: left;
    text-align: left;
    list-style-position: outside;
    margin-left: 0px;
}
ul#useful_links li a{
    display: inline !important;
}

/* = Dashboard right
======================================================================= */
/*this is used for indexes in dashboard right*/

ul#dashboard_right {
    list-style-type: none;
    display: inline !important;
    float: left;
    text-align: left;
    list-style-position: outside;
    margin-left: 0px;
}
ul#dashboard_right li a {
    list-style-type: none;
    display: inline !important;
    float: left;
    text-align: left;
    list-style-position: outside;
    margin-left: 0px;
}

/* = Progress bar
======================================================================= */
span#progress_bar {
	/*border: 1px black solid;*/
	padding: 3px;
	margin-bottom: 30px;
}
span#progress_bar #current_step {
	background: rgb(83, 110, 141);
	color: white;
	border: 1px black solid;
	padding: 3px;
}
span#progress_bar #current_step a {
	color: white;
}
span#progress_bar #other_step {
	border: 1px black solid;
	padding: 3px;
}

/* = Tables
======================================================================= */	
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #123456;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/tables/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #fff;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/tables/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/tables/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #536E8D;
}
table tr.alert_entry {
  background-color:#ff0033;
}

/*
/* Sortable tables 
table.sortable th:hover {
	color:orange;
}
table.sortable th {
	text-decoration: underline;
}
/* Sortable tables hack for AJAX 
table.sortable_style th:hover {
	color:orange;
}
table.sortable_style th {
	text-decoration: underline;
}
*/

/* = TO BE CLEANED UP
======================================================================= */


/* BOXED-IN NOTE */
div.note {
  border: 1px solid #AAAAAA;
  border-style: dashed;
  margin: 5px;
  padding: 2px;
  overflow-x: auto;
  color: #556677;
}



/*Forms w/ tables next to them*/
div.form_left {
  width:45%;
  float:left;
}
div.form_right {
  position:absolute;
  width:25%;
  top:500;
  right:450px;
}
div.table_right {
  width:50%;
  float:right;
  margin:12px;
  visibility:hidden;
}

tr#loading_row{
  display:none;
}

img.loading_icon {
  vertical-align: middle;
  width: 1.2em;
  height: 1.2em;
  margin-right: 5px;
}


#timer{
  font-size: 20px;
}
#new_notice{
 margin: 5px 0px;
}

.delete_link {
	float: right;
	text-align: right;
}
.form_label_large {
  font-size: 12pt;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.disabled {
  color: #888;
  background-color: #ddd !important;
}


/*this is used for the department_config form*/
.centered_form label {
  width: 30em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}

/*To align links and icons*/
a.action_with_icon{
	vertical-align: middle;
}
img.mini_icon {
	vertical-align: middle;
	width: 1.2em;
	height: 1.2em;
}


/*no bullets for active shifts*/
ul.activeShifts {
	list-style-type: none;
}


/* Sub Request Table Index
======================================================================= */	
table#requests_table {margin-bottom:5px;}
table#requests_table tr td {vertical-align:middle; text-align:left; padding:2px 6px 2px 6px; white-space:nowrap;}
table#requests_table tr td ul {
	 list-style-type: none;
   float: left;
   text-align: left;
   list-style-position: outside;
	 margin-left:0px;
}
td.sub_reason {width:100%;}
.sub_reason_container {white-space:pre-wrap;}
.sub_time_mandatory {color:#8A0808;}
td.sub_location {text-align:center;}
.sub_invalid {color:#6E6E6E;}
a#view_more, a#view_all {float:right; padding-right:4px; clear:both;}
/* Sub Request Show
======================================================================= */	
p.sub_show {margin-top:0px; margin-left:1.5em; line-height:120%;}
p.sub_show h4{padding-left:0px;}
ul#user_sources {margin-top:0px; margin-left:1.5em; list-style-type:none;}
/* CalendarFeeds Index
======================================================================= */
div.feed_subs h3, div.feed_shifts h3 {margin-left:1em; margin-top:1em;}
div.feed_subs a, div.feed_shifts a {margin-left:2em; line-height:120%}
div.feed_subs {float:left; margin-left:4em;}
div.feed_shifts {float:left; max-width:25em;}
div.feed_bottom {clear:both}
div.feed_bottom a {float:right;}

/* button for report_item_view on location index */
input.view_more {float:right;}
