/* disable hack for vertical centering*/
/*.timeslot div.center_container {
	display: table;
	width: 100%;
	height: 100%;
}
.timeslot div.center_content {
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 7px;
	width: 100%;
}*/