.no_underlined a{
	text-decoration: none;
	color: whitesmoke;
}

li.current_tab{
	background: #222;
}
div#nav_top{
	width: 84.2%;
	margin: 0 auto;
}

div#nav_top ul{
	margin: 0 auto;
}

div#nav_top li{
	display: inline;
	padding-right: 20px;
	padding-left: 20px;
	width: 200px;
}

div #nav_column {
		/*height: 100%;*/

	/*min-width: 145px;
				margin: 0;
				padding: 0;
				float: left;
				border: 1px solid black;
				background-color: whitesmoke;
				word-wrap: break-word;
				padding: 10px;*/

  color: #415578;
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.75em;
}

div #nav_column li{
	padding: 0;
}

div #tab_content{
	float: right;
	width: 650px;
}