li#notice_li {
    list-style-type :none;
    padding-left: 1em;
}

a#toggle_link {text-decoration:underline;}

fieldset.sticky {
  width: 97%;
  padding: 5px;
  margin: 0 0 0 0;
  border:1px solid gray;
  background-color:#FFFF99;
}

fieldset.announcement {
  width: 97%;
  padding: 5px;
  margin:0 0 0 0;
  clear: right;
  border:1px solid gray;
  background-color:#ADD8E6;
}

fieldset.sticky .grayleft, fieldset.announcement .grayleft{
  float:left;
  text-align:left;
}

fieldset.sticky .grayright, fieldset.sticky .right, fieldset.announcement .right{
  float:right;
  text-align:right;
}

fieldset.sticky .grayleft, fieldset.sticky .grayright {
  color:SlateGray;
  font-size: 90%;
}

fieldset.announcement .grayleft, fieldset.announcement .grayright {
  color:DarkRed;
  font-size: 90%;
}

