li#notice_li {
    list-style-type :none;
    padding-left: 1em;
}

/* This is necessary because the overflow feature only works when a definite width is given. 
Without separating the fieldsets, the view in the index and in the report would break */
fieldset.sticky { 
  width: 500px;
  padding: 5px;
  margin: 0 0 0 0;
  border:1px solid gray;
  background-color:#FFFF99;
  word-wrap: break-word;
}


fieldset.announcement {
  width: 640px;
  padding: 5px;
  margin:0 0 0 0;
  clear: right;
  border:1px solid gray;
  background-color:#ADD8E6;
  word-wrap: break-word;
}

a#toggle_link {text-decoration:underline;}

fieldset.sticky .grayleft, fieldset.announcement .grayleft{
  float:left;
  text-align:left;
}

fieldset.sticky .grayright, fieldset.sticky .right, fieldset.announcement .right{
  float:right;
  text-align:right;
}

fieldset.sticky .grayleft, fieldset.sticky .grayright {
  color:SlateGray;
  font-size: 90%;
}

fieldset.announcement .grayleft, fieldset.announcement .grayright {
  color:DarkRed;
  font-size: 90%;
}

.gray_url {float:right; overflow:hidden; white-space:none; text-align:right; color:gray;}
