li#notice_li {
    list-style-type :none;
    padding-left: 1em;
}

fieldset.sticky { 
  padding: 5px;
  margin: 0 0 0 0;
  border-bottom:1px solid gray;
  background-color:#FFFF99;
}


fieldset.announcement {
  padding: 5px;
  margin:0 0 0 0;
  clear: right;
  border-bottom:1px solid gray;
  background-color:#ADD8E6;
}

a#toggle_link {text-decoration:underline;}

fieldset.sticky .grayleft, fieldset.announcement .grayleft{
  float:left;
  text-align:left;
}

fieldset.sticky .grayright, fieldset.sticky .right, fieldset.announcement .right{
  float:right;
  text-align:right;
}

fieldset.sticky .grayleft, fieldset.sticky .grayright {
  color:SlateGray;
  font-size: 90%;
}

fieldset.announcement .grayleft, fieldset.announcement .grayright {
  color:DarkRed;
  font-size: 90%;
}

/*Adding a div class variable to pass, to ensure that the word wrap feature works in 
three areas of different fixed width */

div.report_notice {
	width: 350px;
	word-wrap: break-word;
}

div.dashboard_notice {
	width: 280px;
	word-wrap: break-word;
}

div.index_notice {
	width: 600px;
	word-wrap: break-word;
}

.gray_url {float:right; overflow:hidden; white-space:none; text-align:right; color:gray;}
