#notice pre {
  background-color: #F3F3F3;
  border: 1px dashed #AAAAAA;
  margin: 20px;
  padding: 8px;
  overflow-x: auto;
  
  /* Word wrapping for <pre> tags */
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* PAYFORM FORM FIELDSET AND LEGEND: */
div.payform_form fieldset {
  background: #ddf;
}

div.payform_form legend {
  color: #eef;
  background: #114;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

/* MORE PAYFORM: */
#payform h2 {
  font-family: Verdana, Arial, serif;
  color: #2758B3;
  width:100%;
  border-bottom: thin solid #B0B0B0;
  padding-bottom: 3px;  
}

/* PAYFORM TABLE: */
#payformList {
  width: 100%;
  border-collapse: collapse;
}

#payformList th {
  text-align: center;
  font-weight: bold;
}
#payformList tr.even {
  background-color:   #c6cfdf;
}
#payformList tr.odd {
  background-color:   #d6dfef;
}
#payformList tr.edit-item {
  background-color:   #c6dfcf;
  font-style: italic;
}
#payformList tr.inactive {
  background-color: #efd3d2;
}
#payformList tr.inactiveHidden {
  visibility: collapse;
}
#payformList td{
  padding: 5px;
}
a {
  color: #2758B3;
}
a:hover {
  color: #FF9933;
}

#payform-total {
  text-align: center;
  border: 1px solid #aaa;
  width: 300px;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
}

#add_job_link_div {
  color: #2758B3;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  float:right;
  text-align: right;
}

/* EMAIL REMINDERS: */
#emailreminders h3 {
  clear: both;
  font-size: 14px;
  padding: 5px 0px 10px;
}
#emailReminders form {
  text-align: center;
  width: 100%;
  margin: 0pt;
  padding: 0pt;
}
#emailReminders textarea {
  display: block;
}
#emailReminders fieldset.reminders {
  border: 1px solid #CCCCCC;
  margin-bottom: 15px;
  margin-top: 6px;
  padding: 4px 10px 10px;
  background: #FFFFFF none repeat scroll 0% 0%;
}
#emailReminders fieldset.reminders legend {
  color: #53662E;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: normal;
  background: #FFFFFF none repeat scroll 0% 0%;
  padding: 0px;
}

#unselected {
  float: left;
}
#selected {
  float: right;
}

#unselected, #selected {
  color: #415578;
  font-family: Trebuchet, Helvetica, sans-serif;
  font-size: 12px;
  margin: 5px auto;
  border: solid 1px #ddd;
  width: 49%;
  text-align: center;
  height: 150px;
  overflow: auto;
}

#unselected a, #selected a {
  color: #2758B3;
  text-decoration: none;
}
#unselected a:hover, #selected a:hover {
  color: #FF9933;
}

/* PAYFORM 3 COLUMN THING WITH THE TIME PUNCH: */
#cols {
  margin: 0px auto;
  padding: 0px;
  border:0;
  width: 100%;
}
#cols-header {
  text-align: center;
}
#left-col {
  float: left;
  width: 21%;
  text-align: left;
  vertical-align: top;
}
#hidden-button {
  float: right;
  text-align: right;
  vertical-align: top;
}
#middle-col {
  text-align: center;
  height: 1px;
}
#right-col { 
  float: right;
  text-align: right;
  vertical-align: top;
  width: 20%;
}
#cols-footer {
  clear: both;
  text-align: center;
}

#buttons {
  float: right;
}

/* PAYFORM USER SELECT WITH AUTO COMPLETE */
#payform_user_chooser, #add_by_group, #select_container {
  float: right;
  width: 200px;
}
#payform_user_chooser #select_container {
  background-color: #FFFFFF;
  color: #415578;
  margin: 5px auto;
  border: solid 1px #AAAAFF;
  text-align: center;
  overflow: auto;
}

div.clock-notice {
  background-color: #F3F3F3;
  border: 1px solid #AAAAAA;
  margin: 20px;
  padding: 8px;
  overflow-x: auto;
}

/* CATEGORIES */
div.category-item {
  background-color: #F3F3F3;
  border: 1px solid #AAAAAA;
  margin: 5px;
  padding: 5px;
  overflow-x: auto;
}
div.category-item a:link {
  color: #778899;
}
div.category-item a:visited {
  color: #778899;
}
div.category-item a:hover {
  color: #001122;
}
div.category-item-disabled {
  background-color: #F3F3F3;
  border: 1px solid #AAAAAA;
  color: #778899;
  margin: 5px;
  padding: 5px;
  overflow-x: auto;
}
div.category-item-disabled a:link {
  color: #778899;
}
div.category-item-disabled a:visited {
  color: #778899;
}
div.category-item-disabled a:hover {
  color: #001122;
}

/* MASS CLOCKS */
div.mass-clock-item {
  background-color: #F3F3F3;
  border: 1px solid #AAAAAA;
  margin: 5px;
  padding: 5px;
  overflow-x: auto;
}
div.mass-clock-item a:link {
  color: #778899;
}
div.mass-clock-item a:visited {
  color: #778899;
}
div.mass-clock-item a:hover {
  color: #001122;
}

/* div.note is moved to shared.css because it's also used in Shift application
