#report_relative_size {
  width: 48%;
  float: right;
}

#report_view  {
  float: left;
  width: 100%;
}

#report_view .list_report_item_even {
  background:   #f5f5f5;
}

#report_view .list_report_item_odd {
  background:   #e6e6fa;
}

#report_view .list_actions {
  text-align:   right;
  padding-left: 1em;
}

#report_view .list_header {
  background-color:#778899;
  text-align: left;
}

#report_view_table{
  border-collapse: collapse;
  border-color: gray;
  padding: 5px;
  margin: 5px;
  border-spacing: 2px;
  width: 100%;
}

#report_item_area{
  margin: 5px;
  border-collapse: collapse;
  width: 45%;
  clear: left;
  float: left;
}


#report_view_table tr{
  padding: 4px;
}

#report_view_table td.report_item_content{
  word-wrap: break-word;
}

#report_view_table td.timestamp{
  width: 69px;
  padding: 4px;
}

#useful_links {
  padding: 5px;
  clear: both;
}

#useful_links li {
  display: inline;
}


textarea#item {
  width: 99%;
  height:90%;
}

#report_data_objects {
  width: 48%;
  float: left;
}

#report_data_objects fieldset {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: 1px solid gray;
  background-color:#DDDDFF
}

#submit_button {
  float: right;
  clear: right;
}
