#report_log{
  width: 100%;
  clear: uboth;
}

#active_report_area {
  width: 98.6%;
  border-style:solid;
  clear: both;
  background-color: #ddd;
  padding: 5px;
}

#report_relative_size {
  width: 49.5%;
  float: right;
  clear: right;
}

#report_view  {
  float: right;
  width: 98.6%;
  margin-top: 5px;
}

tr.list_report_item_even {
  background:   #f5f5f5;
}

tr.list_report_item_odd {
  background:   #e6e6fa;
}

#report_view .list_actions {
  text-align:   right;
  padding-left: 1em;
}

#report_view .list_header {
  background-color:#778899;
  text-align: left;
}

#report_view_table{
  border-collapse: collapse;
  border-color: gray;
  padding: 5px;
  margin: 0px;
  border-spacing: 2px;
  width: 100%;
}

#report_item_form{
  border-collapse: collapse;
  width: 49.5%;
  float: left;
  margin-top: 5px;
}


#report_view_table tr{
  padding: 4px;
}

#report_view_table td.report_item_content{
  word-wrap: break-word;
}

#report_view_table td.timestamp{
  width: 69px;
  padding: 4px;
}

#report_view_table td.user_name{
  width: 69px;
  padding: 4px;
}

#useful_links_div {
  width: 49.5%;
  float: right;
  margin-bottom: 5px
}

#useful_links_div fieldset {
  padding: 5px;
  border: 1px solid gray;
  background-color:#DDDDFF
}

textarea#item {
  width: 99%;
  height:90%;
}

#report_data_objects {
  width: 49.5%;
  float: left;
  margin-bottom: 5px
}

#report_data_objects fieldset {
  padding: 5px;
  border: 1px solid gray;
  background-color:#DDDDFF
}

#submit_button {
  float: right;
  clear: right;
}

