
ul.events li {                        color: #000; }
ul.events li.timeslot {
    background: #eee;
    color: #707070;
    font-weight: bold;
		z-index: 1;
}
ul.events li.timeslot a {             color: #999; }
ul.events li.timeslot:hover a:hover { color: #999; }
ul.events li.timeslot:hover a {       color: #707070; }
ul.events li.timeslot:hover {         background: #ddd; }


ul.timeslot_group li{border-top:1px solid #ccc; border-bottom:1px solid #ccc;}


h2 { clear: both; }

div.timeline {
    float:right;
    position:relative;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
    color: #707070;
}
div.timeline-data {
    float:right;
    position:relative;
    width: 93%;
    height: 100%;
}

div.timeline div.days {
    position: absolute;
    left: 0;
    width: 7%;
    height: 100%;
}
div.timeline div.day {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ddd;
    width: 100%;
    text-align: center;
}

ul.intervals {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: block;
    float: right;
    position:relative;
    width: 100%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

div.timeline div.day,
ul.intervals li {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

ul.intervals li {
    border-right: 1px solid #ccc;
    position: absolute;
    text-align: center;
    height:100%;
}

ul.intervals li div.inside-li{
    position:relative;
    width: auto;
    height: 100%;
}

ul.intervals li div.hours{
    border-bottom: 1px solid #ccc;
    height:50%;
}

ul.intervals li div.minutes{
    border-right: 1px solid #ccc;
    position: absolute;
    float:left;
    height:50%;
}

ul.events {
    list-style-type: none;
    padding: 0;
    margin: 0 0px;
    display: block;
    position:relative;
    float: right;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
}

ul.events li {
    font-size: 1em;
    margin: 0px 0px;
    padding: 0px 0px;
    position: absolute;
    text-align: center;
    border-left: 1px solid #ccc;
    height: 100%;
}
ul.events li.click_to_add_new {
	z-index: 0;
    background: transparent;
    position: absolute;
    height: 100%;
    border-left: 0px solid #fff;
}
div.click_to_add_new:hover {
		background: #fffff3;
}
ul.events li.click_to_add_new:hover {
    background: #fffff3;
    position: absolute;
    height: 100%;
}
ul.events li div {
	position: relative;
}
ul.events li div.time-slot {
    width: auto;
    height: 100%;
    border-right: 1px solid #ccc;
	overflow:hidden;
}

/* hack for vertical centering*/
div.center_container {
	display: table;
	width: 100%;
	height: 100%;
}
div.center_content {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

img.right_arrow { position:absolute; right:0; }
img.left_arrow {  position:absolute; left:0;  }

div.loading{
	position: absolute;
	float: left;
	top: 0;
	left: 0;
	z-index: 50;
	display: block;
	background: #ddd;
	color: #000;
	padding: 5px;
	font-style: normal;
	font-weight: normal;
  font-family: Verdana, Arial, serif;
	width: 100px;
	font-size: 12px;
	border: 1px solid gray;
}

div.tooltip{
	text-align: left;
	position: absolute;
	float: left;
	top: 100%;
	left: 0;
	z-index: 51;
	display: block;
	background: #ddd;
	color: #000;
	padding: 5px;
	min-width: 200px;
	font-style: normal;
	font-weight: normal;
  font-family: Verdana, Arial, serif;
	font-size: 12px;
	border: 1px solid gray;
}

div.tooltip.edit{
	top:0%;
}
/*
div.tooltip a{
	color: #104e8b !important;
}*/

div.tooltip strong{
	border: 0;
	margin: 0;
	padding: 0;
}

div.tooltip div.close_link{
	position: absolute;
	top: 3px;
	right: 3px;	
	font-size: 10px;
	margin: 0px;
}

span.jeditable{
	background: #bbb;
}

span.jeditable:hover{
	background: #ccc;
	cursor: hand;
	cursor: pointer;
}

div#AJAX_status{
	position: fixed;
	right: 5px;
	top: 5px;
	z-index: 1000;
}

div.AJAX_alert{
	background: #fff;
	padding: 5px;
	border: 1px solid black;
	font-size: 10pt;
	text-align: center;
	width: 150px;
	z-index: 1000;
}
