div.timeline {
    float:right;
}
ul.events {
    list-style-type: none;
    margin: 0 20px;
    padding: 0 0 0px 0px;
    height: 18px;
    position:relative;
  float: right;
}

ul.events li {
    background: #eee;
    border: 1px solid #ddd;
    color: #707070;
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
    height: 14px;
    padding: 1px 0;
    position: absolute;
    text-align: center;
}

ul.events li em {

    color: #aaa;
    font-weight: normal;
    font-size: 0.9em;
}

ul.intervals {
    margin: 0 20px;
    list-style-type: none;
    padding: 0;
    display: block;
    float: right;
    height: 18px;
    position:relative;
}

/* The width depends on the number of intervals. For example 100 / 7 = 14.29% -- then subtract a little bit for room for the borders */
ul.intervals li {
    border-right: 1px solid #ccc;
    color: #999;
    font-size: 1em;
    margin: 0;
    padding: 0px 0;
    position: absolute;
    text-align: center;
}

ul.intervals li.first {
    border-left: 1px solid #ccc;
}

