<ul>
	<%= @sub_request.shift.location.loc_group.roles.first.name.to_s %>
	<%= @sub_request.roles.first.name.to_s %>
<% @sub_request.roles.each do |role| %>
	<li>
		<%= link_to role.name.to_s + "'s", role_path(role) %>,
	</li>
<% end %>
<% @sub_request.users.collect.each do |user| %>
	<li>
		<%= link_to user.name.to_s, "mailto:#{user.email}" %>,
	</li>
<% end %>.
</ul>

<!---  Bay:  Add function finish with period.  Also make users-> emails..!-->