<div class="day" style="top:<%= 11*(left_day_counter+2) %>%; height: 11%;">
  <div class="center_container">
    <div class="center_content">
      <%= left_day.strftime("%a:") %>
    </div>
  </div>
</div>
