<h2><%= link_toggle location.short_name, location.name %></h2>
<div class="edit_times_location" id="<%= location.short_name %>">
  <%# slots = location.all_time_slots_between(@week_days.first, @week_days.last) %>
  <% @location = location %>
  <%# @start_minute =  @dept_start_hour * 60%>
  <%# @end_minute =  @dept_end_hour * 60 %>
  <%# slots_many_days = split_to_days(slots) %>  
    
  <div class="per_slot_table">
    <table class="time_slots">
      <thead>
      <tr>
        <th>Day</th>
        <td>start</td>
        <td>end</td>
        <td>del?</td>
      </tr>
      </thead>
      <%#= render :partial => 'time_slot', :collection => slots %>
    </table>
  </div>
    
  <div class="per_slot_view">
  <%# render :layout => 'shift_admin/template_schedule/location_layout', :locals => {:table_name => "time_slot_view"} do %>
    <%#= render :partial => 'slots_one_day', :collection => slots_many_days %>
  <%# end %>
  </div>

</div>