<li id="timeslot<%=time_slot.id%>" style="<%=time_slot_style(time_slot)%>" class="click_to_edit timeslot">
  <div class="time-slot">
    <div class="center_container">
      <div class="center_content">
        <%= link_to "x", time_slot, :confirm => 'Are you sure?', :method => :delete, :style => "float:right;margin-right:3px" %>
        <%= link_to "#{time_slot.start.strftime("%l:%M%p")} - #{time_slot.end.strftime("%l:%M%p")}", edit_time_slot_path(time_slot) %>
      </div>
    </div>
  </div>
</li>
