<% title "Edit Time Slot for " + @time_slot.start.to_date.to_s(:just_date_long) %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @time_slot %> |
  <%= link_to "View All", time_slots_path %>
</p>

