<% content_for :head do %>
  <%= stylesheet_link_tag 'timeline' %>
<% end %>

<% title "Time Slots" %>

<p><%= link_to "<h1>New Time Slot</h1>", new_time_slot_path %></p>

<div class="note">
  <strong>Notes</strong>
  <ol>
    <li>Time slots in the past cannot be changed or deleted.</li>
    <li>Click on any location name to toggle the schedule display for that location</li>
  </ol>
</div>

<%= render :partial => 'shifts/schedule/header' %>
<%= render :partial => 'location', :collection => @department.locations %>
