<% title "New Time Slot for " + @period_start.to_s(:just_date_long) + " to " + (@period_start + 6.days).to_s(:just_date_long) %>

<%= render :partial => 'form' %>

<p><%= link_to "Back to List", time_slots_path %></p>
