<table id="result_list">
<td>Login</td>
<td>First Name</td>
<td>Last Name</td>
<td>Email</td>

<% @results.each do |result| %>
<tr>
<td><%= result[:login] %></td>
<td><%= result[:first_name] %></td>
<td><%= result[:last_name] %></td>
<td><%= result[:email] %></td>
</tr>
<% end %>
</table>

