<% stylesheet 'user_profile' %>
<% title "#{@user.proper_name}" %>

<div class='whole'>
      <%= render :partial => 'edit_form', :locals => {:user => @user} %>

<div class='clear'>
</div>
  <p>
    <%= link_to "Show", @user %>
  </p>
</div>

