<% title "Edit User" %>

<% form_for @user do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p><%= f.submit "Update" %></p>
<% end %>

<p>
  <%= link_to "Show", @user %> |
  <%= link_to "View All", department_users_path(@department) %>
</p>

