<% title "Edit User" %>

<% if current_user==@user %>
<%= render :partial => 'user_form', :locals => {:submit => "Update", :user => @user} %>
<% end %>
<% if current_user!=@user and current_user.is_admin_of?(current_department) -%>
  <%= render :partial => 'admin_form', :locals => {:submit => "Update", :user => @user} %>
<% end %>

<p>
  <%= link_to "Show", @user %> |
  <%= link_to "View All", department_users_path(@department) %>
</p>

