<% title "Edit User" %>

<%= render :partial => 'new_form', :locals => {:submit => "Update", :user => @user} %>


<p>
  <%= link_to "Show", @user %> |
  <%= link_to "View All", department_users_path(@department) %>
</p>

