<% stylesheet 'user_profile' %>
<% title "#{@user.proper_name}" %>

<div class='whole'>
      <%= render :partial => 'edit_form', :locals => {:user => @user} %>

<div class='clear'>
</div>
  <p>
    <%= link_to "Show Profile", user_profile_path(@user.login)%> | 
    <%= link_to "All Profiles",  user_profiles_path %> | 
    <%= link_to "Back", department_users_path(@department) %>
  </p>
</div>

