<% title "Import Users" %>
<% form_tag url_for(:action => 'save_import'), :multipart => true do %>
    <label for="file">File to Upload</label> <%= file_field_tag "file" %>
    <%= submit_tag %>
  <% end %>

