<% title "Users" -%>
<% form_tag 'mass_create' do %>
  <p>
    Enter a list of NetIDs, separated by spaces:<br />
    <%= text_area_tag :netids %>
  </p>
  <p><%= submit_tag "Submit" %></p>
<% end %>

