<% stylesheet 'verify_import' %>
<% title 'Import Results' %>
<% if @results%>
	<h2>Users Successfully Imported</h2>
		<% if @results[:successes].empty? %>
			No users successfully imported
		<% else %>
			<ul>
				<% @results[:successes].each do |result| %>
					<li><%= result[:name] %></li>
				<% end %>
			</ul>
		<% end %>

	<h2>Users that failed to import</h2>
		<% if @results[:failures].empty? %>
			All users successfully imported
		<% else %>
			<ul>
				<% @results[:failures].each do |result| %>
					<li><%= result[:name] %></li>
					<ul>
						<% result[:errors].full_messages.uniq.each do |error_message| %>
							<li><%= error_message %></li>
						<% end %>
					</ul>
				<% end %>
			</ul>
		<% end %>
<% end %>

<%= javascript_include_tag 'verify_import' %>
