<% title "Payform Sets" %>

<table>
  <tr>
    <th>Printed</th>
    <th>Number of Payforms</th>
  </tr>
  <% for payform_set in @payform_sets %>
    <tr>
      <td><%=h payform_set.created_at %></td>
      <td><%=  payform_set.payforms.length %></td>
      <td><%= link_to "Show", payform_set %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Payform Set", new_payform_set_path %></p>
