<% title "Print History" %>

<table class = "tablesorter">
  <tr>
    <th>Printed</th>
    <th>Number of Payforms</th>
  </tr>
  <% for payform_set in @payform_sets %>
	<tr> 
      <td><%=h payform_set.created_at.strftime(date_format) %></td>
      <td><%=  payform_set.payforms.length %></td>
      <td><%= link_to "Show", payform_set %></td>
    </tr>
  <% end %>
</table>
