<% title "Payform Set" %>

<p>
  Number of payforms: <%= @payform_set.payforms.length %>
</p>
<p>
  Payforms Printed: <%=h @payform_set.created_at %>
</p>

<p>
  <%= link_to "View All", payform_sets_path %>
</p>
