<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <Version>14.0</Version>
 </DocumentProperties>
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>9880</WindowHeight>
  <WindowWidth>25120</WindowWidth>
  <WindowTopX>120</WindowTopX>
  <WindowTopY>140</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="m2124774140">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:Size="8" ss:Color="#FFFFFF" ss:Bold="1"/>
   <Interior ss:Color="#000090" ss:Pattern="Solid"/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="m2124774160">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:Size="8" ss:Color="#FFFFFF" ss:Bold="1"/>
   <Interior ss:Color="#333399" ss:Pattern="Solid"/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="m2124774180">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:Size="8" ss:Color="#FFFFFF" ss:Bold="1"/>
   <Interior ss:Color="#000090" ss:Pattern="Solid"/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="m2124774200">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:Size="8" ss:Color="#FFFFFF" ss:Bold="1"/>
   <Interior ss:Color="#333399" ss:Pattern="Solid"/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="m2124774220">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:Size="8" ss:Color="#FFFFFF" ss:Bold="1"/>
   <Interior ss:Color="#333399" ss:Pattern="Solid"/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s62">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat ss:Format="@"/>
   <Protection/>
  </Style>
  <Style ss:ID="s64">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:Size="14" ss:Color="#000090" ss:Bold="1"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s65">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:Size="8" ss:Color="#FFFFFF" ss:Bold="1"/>
   <Interior ss:Color="#90713A" ss:Pattern="Solid"/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s66">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:Size="8" ss:Color="#FFFFFF" ss:Bold="1"/>
   <Interior ss:Color="#333399" ss:Pattern="Solid"/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s67">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:Size="8" ss:Color="#FFFFFF" ss:Bold="1"/>
   <Interior ss:Color="#000090" ss:Pattern="Solid"/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s80">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:Size="8" ss:Color="#808080"/>
   <Interior ss:Color="#FFFFFF" ss:Pattern="ThinHorzCross"
    ss:PatternColor="#FFFFFF"/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s81">
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
 </Styles>
 <Worksheet ss:Name="Submit Payroll Input">
  <Table ss:DefaultColumnWidth="65" ss:DefaultRowHeight="15">
   <Column ss:StyleID="s62" ss:Width="110"/>
   <Column ss:Width="110" ss:Span="1"/>
   <Column ss:Index="4" ss:StyleID="s62" ss:Width="110" ss:Span="1"/>
   <Column ss:Index="6" ss:Width="110" ss:Span="2"/>
   <Column ss:Index="9" ss:StyleID="s62" ss:Width="110" ss:Span="5"/>
   <Column ss:Index="15" ss:Width="110" ss:Span="3"/>
   <Column ss:Index="19" ss:StyleID="s62" ss:Width="110" ss:Span="4"/>
   <Column ss:Index="24" ss:StyleID="s62" ss:Width="201"/>
   <Column ss:StyleID="s62" ss:Width="110" ss:Span="1"/>
   <Column ss:Index="27" ss:Width="110"/>
   <Column ss:StyleID="s62" ss:Width="121"/>
   <Column ss:StyleID="s62" ss:Width="110"/>
   <Column ss:Width="110"/>
   <Column ss:StyleID="s62" ss:Width="110"/>
   <Row ss:AutoFitHeight="0" ss:Height="17">
    <Cell ss:MergeAcross="30" ss:StyleID="s64"><Data ss:Type="String">Submit Payroll Input</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s65"><Data ss:Type="String">Area</Data></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">All</Data></Cell>
    <Cell ss:MergeAcross="9" ss:StyleID="m2124774140"><Data ss:Type="String">Payroll Input Data+ (Submit Payroll Input Request)</Data></Cell>
    <Cell ss:MergeAcross="1" ss:StyleID="m2124774160"><Data ss:Type="String">Deduction* (Submit Payroll Input Request &gt; Payroll Input Data+)</Data><Comment><Data>Contains a unique identifier for an instance of an object.</Data></Comment></Cell>
    <Cell ss:MergeAcross="3" ss:StyleID="m2124774180"><Data ss:Type="String">Payroll Input Data+ (Submit Payroll Input Request)</Data><Comment><Data>Payroll Input Data</Data></Comment></Cell>
    <Cell ss:MergeAcross="7" ss:StyleID="m2124774200"><Data ss:Type="String">Worktag Data (Submit Payroll Input Request &gt; Payroll Input Data+)</Data><Comment><Data>Worktag Data List of Worktags</Data></Comment></Cell>
    <Cell ss:StyleID="s67"><Data ss:Type="String">Additional Input Details Data+ (Submit Payroll Input Request &gt; Payroll Input Data+)</Data><Comment><Data>Payroll Input Data</Data></Comment></Cell>
    <Cell ss:MergeAcross="1" ss:StyleID="m2124774220"><Data ss:Type="String">Related Calculation (Submit Payroll Input Request &gt; Payroll Input Data+ &gt; Additional Input Details Data+)</Data><Comment><Data>Contains a unique identifier for an instance of an object.</Data></Comment></Cell>
    <Cell ss:StyleID="s67"><Data ss:Type="String">Additional Input Details Data+ (Submit Payroll Input Request &gt; Payroll Input Data+)</Data><Comment><Data>Additional Input Details Data Where there are multiple Input Lines, the user can enter one or more rows here.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Payroll Input Data+ (Submit Payroll Input Request)</Data><Comment><Data>Payroll Input Data</Data></Comment></Cell>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s65"><Data ss:Type="String">Restrictions</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Required</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Required</Data><Comment><Data>Payroll Input Data</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Required</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional. May have multiples</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Required</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Required</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Required</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Required</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Required</Data><Comment><Data>Additional Input Details Data Where there are multiple Input Lines, the user can enter one or more rows here.</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Conditionally Required</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Conditionally Required</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Optional</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s65"><Data ss:Type="String">Format</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Text</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Text</Data><Comment><Data>Payroll Input Data</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Text</Data><Comment><Data>Text item</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Text</Data><Comment><Data>Text item</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Y/N</Data><Comment><Data>Boolean item</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">YYYY-MM-DD</Data><Comment><Data>Date item</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">YYYY-MM-DD</Data><Comment><Data>Date item</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Run_Category_ID</Data><Comment><Data>Type: Run_Category_ID</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Employee_ID</Data><Comment><Data>Type: Employee_ID</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Position_ID</Data><Comment><Data>Type: Position_ID</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Earning_Code</Data><Comment><Data>Type: Earning_Code</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Lookup</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Text</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Number (26,6)</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Number (26,6)</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Number (26,6)</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Y/N</Data><Comment><Data>Boolean item</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Withholding_Order_Case_ID</Data><Comment><Data>Type: Withholding_Order_Case_ID</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Payroll_State_Authority_Tax_Code</Data><Comment><Data>Type: Payroll_State_Authority_Tax_Code</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Payroll_Local_County_Authority_Tax_Code</Data><Comment><Data>Type: Payroll_Local_County_Authority_Tax_Code</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Payroll_Local_City_Authority_Tax_Code</Data><Comment><Data>Type: Payroll_Local_City_Authority_Tax_Code</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Payroll_Local_School_District_Authority_Tax_Code</Data><Comment><Data>Type: Payroll_Local_School_District_Authority_Tax_Code</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Custom_Worktag_1_ID</Data><Comment><Data>Type: Custom_Worktag_1_ID</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Custom_Worktag_2_ID</Data><Comment><Data>Type: Custom_Worktag_2_ID</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Payroll_Local_Other_Authority_Tax_Code</Data><Comment><Data>Type: Payroll_Local_Other_Authority_Tax_Code</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Text</Data><Comment><Data>Additional Input Details Data Where there are multiple Input Lines, the user can enter one or more rows here.</Data></Comment></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Lookup</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Text</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Number (26,6)</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Text</Data><Comment><Data>Text item</Data></Comment></Cell>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s65"><Data ss:Type="String">Fields</Data></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Spreadsheet Key*</Data><Comment><Data>You must use the spreadsheet key to coordinate the header information throughout the tabs of the spreadsheet. Keep the same spreadsheet key for each row as you add information in the subsequent tabs. The spreadsheet key is also required to coordinate multiple child rows that roll up to the same parent row.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Row ID**</Data><Comment><Data>You must use the row ID to coordinate the data that spreads across multiple rows in the spreadsheet. A change in the value of the ID indicates that a new child object will be created under the same parent object.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Payroll Input ID</Data><Comment><Data>If Payroll Input ID is provided, it will be used to look-up an existing Payroll Input instance to perform an update.  The Web Service operation will attempt to add the Payroll Input instance if Payroll Input ID is not provided or if the Payroll Input ID does not match an existing one.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Batch ID</Data><Comment><Data>Batch ID can be assigned to a set of Payroll Inputs to enable the external system to manage Payroll Input data by Batch ID.  There are transactions in Workday Payroll that let the user maintain Payroll Input data by Batch ID (Payroll Input by Batch ID and Delete Payroll Input by Batch ID).</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Ongoing Input</Data><Comment><Data>Ongoing Input is set for Payroll Input values intended to stretch across more than one Payroll Period.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Start Date*</Data><Comment><Data>Start Date for Payroll Input.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">End Date</Data><Comment><Data>End Date for Payroll Input.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Run Category+</Data><Comment><Data>Run Category Reference</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Worker*</Data><Comment><Data>Worker Reference</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Position</Data><Comment><Data>Position Reference applicable to the supplied worker.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Earning*</Data><Comment><Data>Earning Reference and Deduction Reference are mutually exclusive.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">ID Type</Data><Comment><Data>The unique identifier type. Each &quot;ID&quot; for an instance of an object contains a type and a value. A single instance of an object can have multiple &quot;ID&quot; but only a single &quot;ID&quot; per &quot;type&quot;.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">ID Value</Data><Comment><Data>Contains a unique identifier for an instance of an object.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Amount</Data><Comment><Data>Amount for Earning or Deduction.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Hours</Data><Comment><Data>Hours for Earning or Deduction</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Rate</Data><Comment><Data>Rate for Earning or Deduction</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Adjustment</Data><Comment><Data>Adjustment</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Withholding Order Case</Data><Comment><Data>Withholding Order Case Reference</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">State Authority</Data><Comment><Data>Worktag - Payroll State Authority.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">County Authority</Data><Comment><Data>Worktag - Payroll Local County Authority.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">City Authority</Data><Comment><Data>Worktag - Payroll Local City Authority.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">School District Authority</Data><Comment><Data>Worktag - Payroll Local School District.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">PTAEO</Data><Comment><Data>PTAEO</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Parking Lot</Data><Comment><Data>Parking Lot</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Local Other Tax Authority</Data><Comment><Data>Other Tax Authority Reference</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Row ID*</Data><Comment><Data>You must use the row ID to coordinate the data that spreads across multiple rows in the spreadsheet. A change in the value of the ID indicates that a new child object will be created under the same parent object.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">ID Type</Data><Comment><Data>The unique identifier type. Each &quot;ID&quot; for an instance of an object contains a type and a value. A single instance of an object can have multiple &quot;ID&quot; but only a single &quot;ID&quot; per &quot;type&quot;.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">ID Value</Data><Comment><Data>Contains a unique identifier for an instance of an object.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Input Value</Data><Comment><Data>Input Value  Can be Amount, Hours, Rate.</Data></Comment></Cell>
    <Cell ss:StyleID="s66"><Data ss:Type="String">Comment</Data><Comment><Data>Comment</Data></Comment></Cell>
   </Row>

   <%= render partial: "payform", collection: @sorted_payforms %>

  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <Unsynced/>
   <PageLayoutZoom>0</PageLayoutZoom>
   <Selected/>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R6C6:R32000C6,R6C18:R32000C18</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;N,Y&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C9</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;WID,Run_Category_ID&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C10</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;WID,Employee_ID,Contingent_Worker_ID&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C11</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;WID,Position_ID&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C12</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;Workday_Earning_Code,WID,Earning_Code&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R6C13:R32000C13</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;WID,Deduction_Code,Workday_Deduction_Code&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C19</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;Withholding_Order_Case_ID,WID&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C20</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;WID,Payroll_State_Authority_Tax_Code&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C21</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;WID,Payroll_Local_County_Authority_Tax_Code&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C22</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;WID,Payroll_Local_City_Authority_Tax_Code&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C23</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;WID,Payroll_Local_School_District_Authority_Tax_Code&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C24</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;WID,Custom_Worktag_1_ID&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C25</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;Custom_Worktag_2_ID,WID&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C26</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;WID,Payroll_Local_Other_Authority_Tax_Code&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R6C28:R32000C28</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;Related_Calculation_ID,WID,Workday_Related_Calculation_ID&quot;</Value>
  </DataValidation>
 </Worksheet>
</Workbook>
