<% title "Edit Loc Group" %>

<% form_for @loc_group do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p><%= f.submit "Update" %></p>
<% end %>

<p>
  <%= link_to "Show", @loc_group %> |
  <%= link_to "View All", department_loc_groups_path(@department) %>
</p>

