<% title "Location Groups" %>

<table class = "manage_table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Locations</th>
    <th>View Perm</th>
    <th>Signup Perm</th>
    <th>Admin Perm</th>
    <th>Can view?</th>
  </tr>
  </thead>
  <tbody>
  <% for loc_group in @loc_groups %>
    <tr>
      <td><%= link_to loc_group.name, edit_loc_group_path(loc_group) %></td>
      <td><%= loc_group.sub_request_email %></td>
      <td><%=h loc_group.locations.collect{|loc| loc.name} * ", " %></td>
  <% end %>
  </tbody>
</table>
<br />
<% if current_user.is_admin_of?(@department) %>
  <%= render :partial => 'form', :locals => {:title => "Add a new location group"}%>
<% end %>
