<% title "Edit Payform Item" %>
<% if params[:layout]=="false" %>
  <%= render partial: 'form', layout: 'layouts/modal_form_layout', 
    locals:{modal_title: "Edit Payform Item", submit_text: "Edit", submitting_text: "Applying changes...", 
    		payform_item: @payform_item} %>
<% else %>
  <%= render partial: 'form',
    locals:{submit_text: "Edit", submitting_text: "Applying changes...", 
    		payform_item: @payform_item} %>
<% end %>

<% unless params[:layout] == "false" %>
  <p>
    <%= link_to "View All", payform_path(@payform_item.payform) %>
  </p>
<% end %>
