<% title "Edit Payform Item" %>

<%= render partial: 'form', locals: {submit: "Save", payform_item: @payform_item} %>

<% unless params[:layout] == "false" %>
  <p>
    <%= link_to "View All", payform_path(@payform_item.payform) %>
  </p>
<% end %>
