<%# testing stuff, to be removed later %>
<%
  @bar_ids = {}

  # @dept_start_hour = 9
  # @dept_end_hour = 17  #if the day ends after midnight, this should be > 24
  # @blocks_per_hour = 4
  # @blocks_per_day = ((@dept_end_hour - @dept_start_hour) * @blocks_per_hour).to_i
  # @block_length = 3600 / @blocks_per_hour #seconds
  # @display_unscheduled_shifts = true
  # @grace_period = 5*60 #seconds

  @dept_start_hour = @department.department_config.schedule_start / 60
  @dept_end_hour = @department.department_config.schedule_end / 60  #if the day ends after midnight, this should be > 24
  @blocks_per_hour = 60 / @department.department_config.time_increment
  @blocks_per_day = ((@dept_end_hour - @dept_start_hour) * @blocks_per_hour).to_i
  #@block_length = 3600 / @blocks_per_hour #seconds
  @display_unscheduled_shifts = true

  #for now, for AJAX
  @period_start ||= params[:date].blank? ? Date.parse("last Sunday") : Date.parse(params[:date])
  @days_per_period ||= 7 #TODO: make this a setting for an admin


  if params[:date].blank? and (current_user.user_config.view_week != "" and current_user.user_config.view_week != "whole_period")
    # only if default view and non-standard setting
    if current_user.user_config.view_week == "current_day"
      @day_collection = [Date.today]
    elsif current_user.user_config.view_week == "remainder"
      if @show_weekends
        @day_collection = Date.today...(@period_start+7)
      else
        @day_collection = Date.today...(@period_start+6)
      end
    end
  elsif @show_weekends
    @day_collection = @period_start...(@period_start+7)
  else
    @day_collection = (@period_start+1)...(@period_start+6)
  end
%>

<div style="clear:both">
<%= render :partial => 'shifts/schedule/header' %>

<% if @department.loc_groups.empty? %>
  <p>Sorry, there are no location groups to view!</p>
<% elsif current_user.user_config.view_loc_groups == "" %>
  <p>You have not selected any location groups to view! Fix that in your
    <%= link_to "User settings", edit_user_config_path(current_user.user_config) %>.</p>
<% else %>
  <%= render :partial => 'shifts/schedule/day', :collection => @day_collection, :spacer_template => 'shifts/schedule/spacer'%>
<% end %>
</div>
<%= render :partial => 'shifts/schedule/footer' %>

