<div style="clear:both">
<%= render :partial => 'shifts/schedule/header' %>

<!-- <%# if @loc_groups.empty? %>
  <p>No location groups to view</p>
<%# else %> -->
  <%= render :partial => 'shifts/schedule/day', :collection => ["2009-06-09"], :spacer_template => 'shifts/schedule/spacer'%>
<%# end %>
</div>
<%= render :partial => 'shifts/schedule/footer' %>