<%# TODO: cleanup! %>
<%
  @bar_ids = {}

  @dept_start_hour = @department.department_config.schedule_start / 60
  @dept_end_hour = @department.department_config.schedule_end / 60
  @blocks_per_hour = @department.department_config.blocks_per_hour
  @blocks_per_day = @department.department_config.blocks_per_day
  @block_length = @department.department_config.block_length
  @display_unscheduled_shifts = true
%>

<div style="clear:both"></div>

<%= render :partial => 'shifts/schedule/header' %>

<% if @department.loc_groups.empty? %>
  <p>Sorry, there are no location groups to view!</p>
<% elsif current_user.user_config.view_loc_groups == "" %>
  <p>You have not selected any location groups to view! Fix that in your
    <%= link_to "User settings", edit_user_config_path(current_user.user_config) %>.</p>
<% else %>
  <%= render :partial => 'shifts/schedule/day', :collection => @day_collection, :spacer_template => 'shifts/schedule/spacer'%>
<% end %>

<%= render :partial => 'shifts/schedule/footer' %>

