<div id="searchbox" style="margin-bottom: 1em">
  <% form_tag(payforms_path, :method => :get) do %>
    Search teh int0rwebz: <%= text_field_tag :search %>
    <%= submit_tag "Submit", :id => "search_submit" %>
  <% end %>
</div>