<% shift_display_method ||= "name_and_time" %>

<% shifts_layout.each do |loc_group, shifts| %>
  <h1><%= loc_group.name %></h1>
  <% shifts_by_location = shifts.group_by(&:location) %>
  <% shifts_by_location.each do |location, shifts| %>
	<h2><%= link_to location.name, :controller => :locations, :action => :display_report_items, :id => location %></h2>
    <ul>
    <% shifts = shifts.sort_by(&:start)%>
    <% shifts.each do |s| %>
      <li><%= link_to "#{s.send(shift_display_method)}", shift_report_path(s), {:rel => "floatboxcurr", :rev => "width:500px height:500px" } -%>
      </li>
    <% end %>
    </ul>
  <% end %>
  <br>
<% end %>


