<%  
  link_name = upcoming_shift.short_display
  if upcoming_shift.has_sub?
    link_name << " (sub requested)"
  elsif upcoming_shift.signed_in?
    link_name << " (signed in)"
  elsif upcoming_shift.left_early?
	link_name << " (submitted)"
  end
%>
<li>
  <% if upcoming_shift.signed_in? or upcoming_shift.left_early? %>
    <%= link_to link_name,  shift_report_path(upcoming_shift) %>
  <% elsif upcoming_shift.has_sub? %>
    <%= link_to link_name,  sub_request_path(upcoming_shift.sub_request) %>
  <% else %>
    <%= link_to link_name, upcoming_shift %>
  <% end %>

  <span class="early_late_info">&nbsp;&nbsp;<%= early_late_info(upcoming_shift.start) %></span>
</li>

