<div id="preferences" style="float:right;position:relative;width:160px;text-align:right">
  <h2 class="only_js trigger-groups-box" style="display:none;">Show/Hide Groups</h2>
  <div class="no_js toggle-groups-box" style="position:absolute;background:#fff;border:#ccc 1px solid;width:160px;z-index:999;text-align:left;padding-left:10px;">
    <% form_for current_user.user_config do |f| %>
      <p>
        <% for department in current_user.departments %>
          <div class="multiple_select">
            <h3><%= department.name %></h3>
            <%= collection_multiple_select(:user_config, :view_loc_groups, 
                                        @loc_group_select[department.id], :id, :name,
                                        :selected_items => @selected_loc_groups) %>
          </div>
        <% end %>
      </p>
      <%= hidden_field_tag :redirect_to, request.request_uri %>
      <p><%= f.submit "Update" %></p>
    <% end %>
  </div>
</div>

