<li id="timeslot<%=time_slot.id%>" style="<%=shift_style(time_slot, Time.now)%>" class="click_to_add_new timeslot">
  <div class="time-slot">
    <div class="center_container">
      <div class="center_content">
        <%= link_to "sign up", new_shift_path %>
      </div>
    </div>
  </div>
</li>