<% title "User Profiles" %>

<table>
  <tr>
    <th>User</th>
  </tr>
  <% for user_profile in @user_profiles %>
    <tr>
      <td><%=h user_profile.user.proper_name %></td>
      <td><%= link_to "Show", user_profile %></td>
      <td><%= link_to "Edit", edit_user_profile_path(user_profile) %></td>
    </tr>
  <% end %>
</table>

