<% title "User Profiles" %>

<p><%= link_to "Edit Your Profile", edit_user_profile_path(current_user.login) %></td>

<table>
  <tr>
    <th>User</th>
  </tr>
  <% for user_profile in @user_profiles %>
    <tr>
      <td><%= link_to "#{user_profile.user.proper_name}", user_profile_path(user_profile.user.login) %></td>
    </tr>
  <% end %>
</table>

