<% title "#{@user_profile.user.proper_name}'s Profile" %>

<p></p>
  <% @user_profile.user_profile_entries.each do |entry| %>
    <%# if entry.public %>
      <p>
        <strong><%=h "#{entry.field_name}: " %></strong>
        <%=h entry.content %>
      </p>
    <%# end %>
  <% end %>

