<% title "#{@user_profile.user.proper_name}'s Profile" %>
<div class='profile'>
    <%= render :partial => 'user_profile_entries' %>
<br />
	<%= link_to 'Edit', edit_user_profile_path(@user_profile.user.login)%> | <%= link_to 'Back', user_profiles_path %>
</div>