<% title "#{@user_profile.user.full_name_with_nick}'s Profile" %>
<div class='profile'>
	<%= image_tag @user_profile.photo.url(:medium)%>
	
  
    <%= render :partial => 'user_profile_entries' %>

<br />
	<%= link_to 'Edit', edit_user_profile_path(@user_profile.user.login) if current_user.is_admin_of?(current_department) or current_user == @user_profile.user %> | 
	<%= link_to 'Show All', user_profiles_path %> | 
</div>