<% if miscellaneous %>
  <%# jobs = @payform.misc_jobs(is_admin?) %> Miscellaneous Jobs
<% else %>
  <%# jobs = (is_admin? ? @payform.payform_items.in_category(category.id) : @payform.payform_items.in_category(category.id).active) %>
<% end %>
<%# unless jobs.empty? %>
  <tr>
    <td colspan="4"><h2><%=h miscellaneous ? "Miscellaneous" : category.name %></h2></td>
    <td align="right"><h2><font color=black size=1>Hours<%#=h hours(jobs) -%></font></h2></td>
  </tr>
    <%#= render :partial => "payform/payform_item", :collection => jobs %>
<%# end -%>

