<% jobs = (current_user.is_admin_of?(@payform.department) ? category.payform_items : category.payform_items.select{|p| p.active}) & @payform.payform_items %>
<% unless jobs.empty? %>

<thead>
  <tr class="category">
    <th scope="col" id="<%=h category.name %>" colspan=6>
      <div class="hours-right">
        <%= number_with_precision((@payform.payform_items.active & category.payform_items).map{|i| i.hours}.sum, 1) %>
      </div>
      <%=h category.name %>
    </th>
  </tr>
</thead>
<tbody>
  <%= render :partial => "payform_item", :collection => jobs, :locals => {:type => 'payform_item'} %>
</tbody>
<% end -%>

