<% title "Payforms" %>


<%= render :partial => "date_select" %>

<table>
  <tr>
    <th>Date</th>
  </tr>
  <% for payform in @payforms %>
    <tr>
      <td><%=h payform.date %></td>
      <td><%= link_to "Show", payform %></td>
    </tr>
  <% end %>
</table>
<br/><br/>
<%= link_to "Prune all empty payforms", prune_payforms_path, :confirm => 'Are you sure?', :method => :delete %>

