<% title "Payforms" %>

<table>
  <tr>
    <th>Payform Period Start Date</th>
  </tr>
  <% for payform in @payforms %>
    <tr>
      <td><%=h payform.date %></td>
      <td><%= link_to "Show", payform %></td>
    </tr>
  <% end %>
</table>

<p>Payforms auto-generate when a payform_item is created for a period.</p>

