<% title "Permissions" %>

<table class = "tablesorter">
  <tr>
    <th>Name</th>
  </tr>
  <% for permission in @permissions %>
  	<tr <%= "class= #{cycle("odd", "even")}" %> > 
      <td><%=h permission.name %></td>
    </tr>
  <% end %>
</table>

