<% title "Permissions" %>

<table class = "tablesorter">
 <thead>
  <tr>
    <th>Name</th>
  </tr>
 </thead>
  <% for permission in @permissions %>
 <tbody>
  	<tr>
      <td><%= permission.name %></td>
    </tr>
 </tbody>
  <% end %>
</table>

