<% title "Permissions" %>

<table class = "tablesorter">
  <tr>
    <th>Name</th>
  </tr>
  <% for permission in @permissions %>
  	<tr> 
      <td><%=h permission.name %></td>
    </tr>
  <% end %>
</table>

