<table id="clocks">
  <tr>
    <th>User</th>
    <th>Start Time</th>
    <th>Runtime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => "punch_clock_row", :collection => clocks %>
</table>
