<% title "Clock Out" %>
<% form_for @punch_clock, :url => {:controller=>"punch_clocks", :action=>"update"} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :description, "Description: Please enter at least 10 characters" %><br />
    <%= f.text_field :description %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
