<% title "Running Punch Clocks" %>

<% if @punch_clocks.empty? %>
There are currently no punch clocks running.
<% else %>
<table>
  <tr>
    <th>User</th>
    <th>Has been running for</th>
  </tr>
  <% for punch_clock in @punch_clocks %>
    <tr>
      <td><%= punch_clock.user.name %></td>
      <td><%= punch_clock.running_time %></td>
      <td><%= link_to "Sign Out", punch_clock, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<% end %>
