<% title "Running Punch Clocks" %>

<% if @punch_clocks.empty? %>
There are currently no punch clocks running.
<% else %>
<table>
  <tr>
    <th>User</th>
    <th>Has been running for</th>
  </tr>
  <% for punch_clock in @punch_clocks %>
<%= render :partial => "punch_clock_row" %>
  <% end %>
</table>
<% end %>
