<% title "Punch Clock" %>

<p>
  <strong>Description:</strong>
  <%=h @punch_clock.description %>
</p>

<p>
  <%= link_to "Edit", edit_punch_clock_path(@punch_clock) %> |
  <%= link_to "Destroy", @punch_clock, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", punch_clocks_path %>
</p>
