<h1>Submit a shift request</h1>

<% form_for([@week_template, @requested_shift]) do |f| %>
  <%= f.error_messages %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Add a shift request' %>
  </p>
<% end %>
