<% title "Edit Data Type" %>

<%= render :partial => 'form' %>
<%#= render :partial => "summary", :locals => {:data_type => @data_type} %>


<p>
  <%= link_to "Show", @data_type %> |
  <%= link_to "View all data types", data_types_path %>
</p>
