<% title "New Data Type" %>
<div id="progress_bar"><span id="current_step">Step 1</span> | Step 2 | Step 3</div>

<%= render :partial => 'form' %>

<p><%= link_to "Back to List", data_types_path %></p>
