<% title "New Data Type" %>
<span id="progress_bar">
  <span id="current_step">Step 1</span> &#8680; Step 2 &#8680; Step 3
</span>
<%= render :partial => 'form' %>

<p><%= link_to "Back to List", data_types_path %></p>
