<%
  load_schedule_variables if not @dept_start_hour #load if we haven't loaded them already
                                          #(so we can render this partial on the dashboard)
  load_day_variables(day)
%>

<% render :layout => 'shifts/schedule/day_table_layout' do %>
  <% @loc_groups.each do |loc_group| %>
    <% unless loc_group.locations.empty? %>
      <%= render :partial => 'shifts/schedule/loc', :collection => loc_group.locations.select{|l| l.active}.sort_by(&:priority).reverse %>

      <% unless loc_group == @loc_groups.last %>
        <tr>
          <td class="between_groups" colspan="<%=@blocks_per_day+1%>"></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= (render :partial => 'shifts/list_of_shifts/shifts_outside_display_layout', :object => @shifts_outside_display) unless @shifts_outside_display.empty? %>
