<%  @curr_day = day
    @bar_ids ||= {}
    @bar_ids[@curr_day] = [] %>

<% render :layout => 'shifts/schedule/day_table_layout' do
#   TODO: gather this info from preferences correctly
#    @loc_groups ||= pref_filter(fetch_location_groups) #need this for ajax sign up
    @loc_groups = @department.loc_groups
    @loc_groups.each do |loc_group| 
      unless loc_group.locations.empty?
        load_variables(loc_group) %>
        <%= render :partial => 'shifts/schedule/loc', :collection => loc_group.locations %>

        <tr>
          <td class="between_groups" colspan="<%=@blocks_per_day+1%>"></td>
        </tr>
      <% end %>
    <% end %>
<% end %>