<%= render :partial => "shifts/schedule/location", :collection => loc_group.locations.sort_by(&:priority).reverse, :locals => {:day => day} %>
<div class="day divider" style="height: <%= @divider_height %>px;"></div>
