<%= render :partial => "shifts/schedule/location", :collection => Location.active.in_group(loc_group), :locals => {:day => day} %>
<div class="day divider" style="height: <%= @divider_height %>px;"></div>
