<% if !sub.shift.missed? and ((!sub.has_started? and sub.user_is_eligible?(current_user)) or current_user.is_admin_of?(current_department) or sub.user == current_user) %>
  <% shift = sub.shift %>
  <% width = (sub.end - sub.start).to_f/(shift.end - shift.start).to_f * 100 %>
  <% left = (sub.start - shift.start).to_f/(shift.end - shift.start).to_f * 100 %>
  <div class= "sub-bribe" style="position:absolute; width:<%= width %>%;left:<%= left %>%;">
    <% width = (sub.mandatory_end - sub.mandatory_start).to_f/(sub.end - sub.start).to_f * 100 %>
    <% left = (sub.mandatory_start - sub.start).to_f/(sub.end - sub.start).to_f * 100 %>
    <div class="sub-mandatory" style="position:absolute; width:<%= width %>%;left:<%= left %>%;">
    
    </div>
  </div>
<% end %>
