<div id="login">
  <p class="login_status"> 
    You are currently logged in as <strong><%= current_user.login %></strong> <%= link_to "[Log out]", :controller => "sessions", :action => "logout" %>
  </p>
</div>