<div id="login">
	<% if current_user && current_user.user_profile && current_user.user_profile.photo && current_user.user_profile.photo.file?%>
		<%= image_tag current_user.user_profile.photo(:pico) %>
	<% end %>
  <p class="login_status">
   	You are currently aboard ship as <strong><%= current_user ? (current_user.name + " (" + current_user.login + ") ") : session[:cas_user] %></strong>
    <% if @user_session && @user_session.user %>
    <%= link_to "[Logout]", logout_path %>
    <% else %>
    <%= link_to "[Logout]", cas_logout_path %>
    <% end %>
  </p>
</div>

