<ul class='nav navbar-nav'>
	<% if current_user.current_shift %>
		<%= content_tag :li, class: ('active' if params[:controller].to_s == "reports" && params[:id].to_i == current_user.current_shift.report.id) do %>
			<%= link_to "Current Shift", (current_user.current_shift.report.nil? ? shift_path(current_user.current_shift) : report_path(current_user.current_shift.report)) %>
		<% end %>
	<% end %>
</ul>







<!-- <div id="shift_indicator">
	<ul class="sf-menu" id="application_tabs">
		<% if current_user.current_shift %>
		<li id=<%= (params[:controller].to_s == "reports" && params[:id].to_i == current_user.current_shift.report.id) ? "highlight" : "not" %>>
			<%= link_to "Current Shift", (current_user.current_shift.report.nil? ? shift_path(current_user.current_shift) : report_path(current_user.current_shift.report)) %>
		</li>
		<% end %>
	</ul>
</div> -->
