<h1>ITS Section Heading</h1>
<%= image_tag 'its_section_header_stc2.gif', {:alt => "", :height => "85", :border => "0", :width => "500", :usemap => "#header_map"} %>
<map id="header_map" name="header_map">
  <area alt="Yale ITS Home" href="http://www.yale.edu/its/" coords="7,24,73,79" shape="rect"/>
  <area alt="Student Technology Collaborative" href="http://www.yale.edu/its/stc" coords="74,24,310,79" shape="rect"/>
</map>