<% title "Edit Role" %>

<%= form_for @role do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p><%= f.submit "Update" %></p>
<% end %>

<p>
  <%= link_to "Back to list", department_roles_path(@department) %>
</p>

