<% title "Roles" %>
<p><%= image_tag("icons/add.png", :class => "mini_icon")%> <%= link_to "Add A New Role", new_department_role_path(@department), :class => "action_with_icon"%></p>
<table>
  <tr>
    <th>Role Name</th>
  </tr>
  <% for role in @roles %>
    <tr>
      <td><%= link_to role.name, edit_role_path(role) %></td>
      <td><%= link_to "Delete Role", role, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


