<% title "#{@role.name.pluralize}" %>


<table class = "tablesorter">
	<tr>
		<th> Login </th>
		<th> Name </th>
		<th> Email </th>
	</tr>
	<tr>
	<% for user in @role_users %>
	    <td><%= user.login%></td>
		<td><%= link_to user.name, user_profile_path(user.login) %></td>
		<td><%= mail_to user.email%></td>
		<td><%= link_to "Edit", edit_user_path(user)%></td>
		</tr>
	<% end%>
</table>