$(document).ready(function(){
	// Ctrl+Enter adds to the report
	$('#new_report_item #item').keydown(function (e) {
	  if (e.keyCode === 13 && (e.ctrlKey || e.metaKey)) {
	    $('#report_item_submit').click();
	    e.preventDefault();
	  }
	});

	$('#report_item_submit').click(function(e){
		e.preventDefault();
		var form = $(this).closest('form');
		form.submit();
		var msg = $(form).find('textarea').val();
		$('#new_report_item')[0].reset();
		if (msg) {
			var image = '<%= image_tag "spinner.gif", class: "center-block"%>'
			var htmlc = "<tr class='list_report_item'>"+
				"<td class='timestamp'>"+image+"</td>"+
				"<td class='report_item_content'>"+msg+"</td>"+
				"</tr>";
			$('#all_report_items').append(htmlc);
			$('#dashboard_report_view').scrollTop($('#dashboard_report_view')[0].scrollHeight);
		}
	});

	if ($('#update_notices').length) {
		var freq1=$('#update_notices').data('frequency')*1000;
		setInterval(function(){
			$.get('/notices/update_message_center');
		},freq1);
	}
	if ($('#update_tasks').length) {
		var freq2=$('#update_tasks').data('frequency')*1000;
		setInterval(function(){
			$.get('/tasks/update_tasks');
		},freq2);
	}
	if ($('#update_report').length) {
		var freq3=$('#update_report').data('frequency')*1000;
		setInterval(function(){
			var id=$('#update_report').data('id');
			$.get('/reports/'+id+'/update_reports');
		}, freq3);
	}

});
