li#notice_li {
    list-style-type: none;
    padding-left: 1em;
}

fieldset.sticky {
  padding: 5px;
  margin: 5px 0 5px 5px;
  background-color: #FFFF99;
}


fieldset.announcement {
  padding: 5px;
  margin: 5px 0 5px 5px;
  clear: right;
  background-color: #ADD8E6;
}

a#toggle_link { text-decoration: underline; }

fieldset.sticky .grayleft, fieldset.announcement .grayleft{
  float: left;
  text-align: left;
}

fieldset.sticky .grayright, fieldset.sticky .right,
fieldset.announcement .right {
  float: right;
  text-align: right;
}

fieldset.sticky .grayleft, fieldset.sticky .grayright {
  color: SlateGray;
  font-size: 90%;
}

fieldset.announcement .grayleft, fieldset.announcement .grayright {
  color: DarkRed;
  font-size: 90%;
}

/*Adding a div class variable to pass, to ensure that the word wrap feature works in
three areas of different fixed width */

.report_notice {
  padding-right: 16px;
}

div.dashboard_notice {
	width: 280px;
	word-wrap: break-word;
}

div.index_notice {
	width: 600px;
	word-wrap: break-word;
}

.gray_url {
  float: right;
  overflow: hidden;
  white-space: none;
  text-align: right;
  color: gray;
}

// NEW
.announcement #edit {
  @extend .close;

  clear: right;
  float: right;
  font-size: $font-size-base;
  line-height: $line-height-base;
  position: relative;
  left: 1px;
}

.notice {
  margin-bottom: 10px;
}
