#report_log{
  width: 100%;
  clear: uboth;
}

#announcement_link {
	float: right;
}

#shift_report_view  { /*in order minimize the height of the report_show page*/
  float: right;
  width: 98.6%;
  margin-top: 5px;
  height: 200px;
  overflow-y: auto;
}

#dashboard_report_view {
	  float: right;
	  width: 98.6%;
	  min-width: 400px;
	  margin-top: 5px;
	  height: 300px;
	  overflow-y: auto;
}

#report_view  {
  float: right;
  width: 98.6%;
  margin-top: 5px;
}

#all_report_items tr:nth-child(odd) {
  background:   #e6e6fa;
}

#all_report_items tr:nth-child(even) {
  background:   #f5f5f5;
}

#report_view .list_actions {
  text-align:   right;
  padding-left: 1em;
}

#report_view_table{
  border-collapse: collapse;
  border-color: gray;
  padding: 5px;
  margin: 0px;
  border-spacing: 2px;
  width: 100%;
}

#report_view_table tr{
  padding: 4px;
}

#report_view_table td.report_item_content{
  word-wrap: break-word;
  max-width: 50px;
}

#report_view_table td.timestamp{
  width: 69px;
  padding: 4px;
}

#useful_links {
  width: 100%;
	float: right;
  margin-bottom: 15px;
}

#report_data_objects {
  width: 100%;
  float: right;
  margin-bottom: 15px;
}

#shift_tasks {
  width: 100%;
  float: right;
  margin-bottom: 15px;
}


#user_searchbox{
	float: center;
	width: 200px;
}

#payform_searchbox{
	float: center;
	width: 200px;
}

#search {
	text-align: top;
}

#searchbox {
  width: 100%;
  float: right;
  margin-bottom: 15px;
}

#report_view_table td.user_name{
  width: 100px;
  padding: 4px;
}

#report_message_center {
	margin-bottom: 15px;
}

textarea#item {
  width: 99%;
  height:90%;
}

#submit_button {
  float: right;
  clear: right;
}


.task_entry{
  text-indent: -25px;
  padding-left: 25px;
  margin-bottom: 4px;
  line-height:10px;
}
.task_title {
  font-weight:bold;
  text-decoration:underline;

}
.task_description{
  font-size:11px;
}
.task_reference{

}
.task_complete{
    text-decoration: line-through;
}
.task_category{
font-size:14px;
font-weight:bold;
text-decoration:underline;
margin-top:5px;
}
