/*SHIFT COLORS*/
/*ul li{ z-index: 100;}*/
ul li.user {                 background: #C2F094; font-weight: bold; }
ul li.user:hover {           background: #85E029; }
ul li.user_late {            background: #FFCA7A; font-weight: bold; }
ul li.user_late:hover {      background: #FFB13D; }
ul li.user_missed {          background: #E85E5E; font-weight: bold; }
ul li.user_missed:hover {    background: #E02929; }
ul li.shift {                background: #94C2F0; }
ul li.shift:hover {          background: #2985E0; }
ul li.shift_late {           background: #F0F094; }
ul li.shift_late:hover {     background: #E8E85E; }
ul li.shift_missed {         background: #F09494; }
ul li.shift_missed:hover {   background: #E85E5E; }


div.sub-bribe {     background: #fcf; height:100%; }
div.sub-mandatory { background: #eae; height:100%; }

div.shift-time-overlay {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

ul.events li:hover div.shift-time-overlay {
    visibility: visible;
    background: white;
    opacity:0.4;filter:alpha(opacity=40)
}



/* HIDDEN SHIFTS */
ul.hidden_shifts {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    width: 100%;
    display: block;
}
ul.hidden_shifts li {
    font-size: 1em;
    margin: 0;
    margin-bottom: 20px;
    padding: 2px 2px;
    border: 1px solid #ccc;
    text-align: center;
    width:24%;
    float:left;
}
ul.hidden_shifts li:hover {
    cursor: pointer;
}


/* HEADERS AND FOOTERS*/
div.shifts_bottom {
  padding: 0;
  margin: 20px 0px;
  border-top: thin solid #408080;
}
div.shifts_top {
  padding: 0;
  margin: 20px 0px;
  border-bottom: thin solid #408080;
}
div.week_title{
  width: 60%;
  margin: 0 auto 0 auto;/*the 2 auto are margins for left and right, aligning this as center */

  font-size: large;
  text-align: center;
}
div.week_bottom{
  width: 60%;
  margin: 0 auto 0 auto;/*the 2 auto are margins for left and right, aligning this as center */
  color: #808080;
  font-size: 14px;
  text-align: center;
}
div.shift_links a.last_week{
  width: 20%;
  float: left;
}
div.shift_links a.next_week{
  text-align: right;
  width: 20%;
  float: right
}

/* DELETE THIS UNLESS WE USE IT
div.restriction {
  background-color: #F3F3F3;
  border: 1px solid #AAAAAA;
  margin: 20px;
  padding: 8px;
  overflow-x: auto;
}
*/

div.signup_bar{
	color: #999;
}

div.multiple_select li{
  list-style-type: none;
}