.table_field{
  border:1px;
  width:60px;
  background:transparent;
  color:black;
  font-size:10px;
}

#right_submit{
  float:right;
}

#cancel{
  float:left;
}

#form_table{
  size:100%;
  background:#c7c7c7;
}

#form_div{
  padding-right:120px;
  padding-left:10px;
}

#email_table_field{
  width:180px;
}

#lname_table_field{
  width:80px;
}

#auth{
  width:120px;
  font-size:7px;
}

.active {
  background:#343661;
  border:3px groove black;
}

.active input{
  color:white;
}

.button_row{
  border:none;
  background:#75729c;
}

.button_row td{
  border:none
}

.caution {
  background:#ffff00;
}

.stop {
  background:#ff0000;
}

.small_select select{
  font-size: 10px;
}

.small_select select{
  font-size: 10px;
}

