<h1>Listing stickies</h1>

<table>
  <tr>
  </tr>

<% @stickies.each do |sticky| %>
  <tr>
    <td><%= link_to 'Show', sticky %></td>
    <td><%= link_to 'Edit', edit_sticky_path(sticky) %></td>
    <td><%= link_to 'Destroy', sticky, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sticky', new_sticky_path %>