<tr>
	<td><%= day %></td>
	<% @day_blockset.each do |block| %>
		<% block_time = block.change(:day => day.day, :month => day.month, :year => day.year) %>
		<% if location.is_staffed?(shifts, block_time) %>
			<td><%= 1 %></td>
		<% else %>
			<td><%= 0 %></td>
		<% end %>
	<% end %>
</tr>
