<% title "Staffing at #{@location.name} from #{@view_days.first.strftime("%b %e, %Y ")} to #{@view_days.last.strftime("%b %e, %Y ")}" %>
<% preprocess_loc_group(@location.loc_group) %>

<h3>Upcoming Shifts:</h3>
<% @upcoming_shifts.each do |shift| %>
	<%= render :partial => "shift_user", :locals => { :shift => shift } %>
<% end %>

<%= render :partial => "location", :locals => {:location => @location} %>
