<!-- #TODO: this whole section needs to be cleaned up... we should standardize ids, classes, etc... -->
<div id="Monday" class="day_partial">
  <h2 class="trigger">Monday</h2>
  <div class="timeline">
    <div class="days">
      <div class="day"></div>
      <div class="day">
        <div class="center_container">
          <div class="center_content">
            TTO
          </div>
        </div>
      </div>
      <div class="day divider" style="height: 4px;"></div>
    </div>
    <div class="timeline-data">
      <ul class="intervals" style="height: 50px;">
        <li style="width: <%= 100/12.to_f %>%; left: <%= 1*100/12.to_f %>%;" >
          <div class="hours">
            <div class="center_container">
              <div class="center_content">

              </div>
            </div>
          </div>
          <% for i in 0...3 %>
            <div class="minutes" style="width: <%= 100.0/4 %>%; left:<%= i*(100.0/4) %>%;"></div>
          <% end %>
        </li>

      </ul>
      <ul class="events" style="height: 50px;">
      
      </ul>
      <ul class="events divider" style="height: 4px;"></ul>
    </div>
  </div>
</div>
