
<%# REQUESTED SHIFTS %>
<% rows = sort @week_template.requested_shifts.on_day(day).unassigned(event_group) %>
<div class="event-group-title" style="height:<%=rows.length*25 + (rows.length-1)%>px;line-height:<%=rows.length*25 + (rows.length-1)%>px">Requested</div>
<% if rows.empty? %>
  <ul class="event-row"></ul>
<% else %> 
  <% for row in rows %>
    <ul class="event-row">
      <%= render :partial => "/templates/schedule/event", :collection => row, :locals => {:location => event_group} %>
    </ul>
  <% end %>
<% end %>
<div style="height:5px; width: 100%; clear:both;"></div>
