<div class="event-group-title" style="height:<%=1*25 + (1-1)%>px"><%= event_group.short_name %></div>

<!-- LOOP THROUGH PRE-DETERMINED ROWS HERE -->
<ul class="event-row">
  <%= render :partial => "/templates/schedule/event", :collection => event_group.requested_shifts.on_day(day) %>
</ul>
