<div class="note">
  <b><u>(More) note:</u></b>
  <ol>
    <li>This stat is currently only available for grouping by locations (location groups later; not applicable for users)
    </li>
    <li>
      Hours of (scheduled) shifts logged in and time losts are computed IGNORING overlapping.  Shifts that were never signed out are not counted.
    </li>
    <li>
      Number in () next to # hours is number of Monday (Tue, etc) taken average by -- excluding those days without shifts or time slots
    </li>
    <li>View by day is not applicable; automatically changed to by week</li>
    <li>Click on a column headers to sort respective columns</li>
    <li>Sort multiple columns simultaneously by holding down the shift key and clicking a second, third or even fourth column header!</li>
    <li>CSV export for this view is not available yet</li>
  </ol>
</div>
