<div class="note">
  <b><u>Please note:</u></b>
  <ol>
    <li>Fields Users, Locations and Location Groups are optional.  Leave them blank to apply to all (within a department).
        Use them to limit your search to only shifts satisfying such constraints.
    </li>
    <li>
      Shifts that were never signed out are not counted under Logged/Shifts (time logged in / time scheduled).  Overlapping hours are however counted.
    </li>
    <li>This stats only count shifts in your current department, and only scheduled shifts are counted under Coverage</li>
    <li>Whether view by day, only days that have shifts are displayed.  Same for week, month, year, or all</li>
    <li>Click on a column headers to sort respective columns</li>
    <li>Sort multiple columns simultaneously by holding down the shift key and clicking a second, third or even fourth column header!</li>
    <li>When exporting to CSV, view type (day, week, month, etc) is ignored.</li>
    <li>Feel free to request for more features</li>
  </ol>
</div>
