<% remote_form_for [@report, @report_item] do |f| %>
<p>
    <%= f.error_messages %>
</p>
<p>
    <%= f.text_area :content, {:size => '80x3', :wrap => 'hard'} %>
</p>
<p id = "add_event_button">
    <%= f.submit "Add this event" %>
</p>
<% end -%>

<!-- this javascript should go in a different location, not in this partial
  also, until it's working properly, it's annoying as fuck -ben

<%# javascript to prompt the user before leaving the page: did you remember to submit? %>
<script type="text/javascript">
  function setConfirmUnload(on) {
    window.onbeforeunload = (on) ? unloadMessage : null;
  }

  function unloadMessage() {
    return "Your report has not yet been submitted.";
  }

  $(document).ready(function() {
    setConfirmUnload(true);
    $("#submit_button_div :button").click(function(){
      setConfirmUnload(false);
    });
  });
</script>

-->
