<% remote_form_for [@report, @report_item] do |f| %>
<p>
    <%= f.error_messages %>
</p>
<p>
    <%= f.text_area :content, {:size => '80x3', :wrap => 'hard'} %>
</p>
<p id = "add_event_button">
    <%= f.submit "Add this event" %>
</p>
<% end -%>

<%= javascript_include_tag 'leave_confirm' %>

