<div id="<%= html_id %>">
  <% @report ||= report %>
  <table id="report_view_table" class="table table-striped">
    <tbody id="all_report_items">
      <%= render partial: 'reports/report_item', collection: @report.report_items %>
    </tbody>
  </table>
</div>
