<p>
  <strong>Report items:</strong>
  <% @report.report_items.each do |report| %>
    <li><%=h report.time.getlocal %>: <%=h report.content %></li>
  <% end %>
</p>
<% unless @report.departed %>
  <p>
    <%= link_to "Add report item", new_shift_report_report_item_path(@report.shift) %>
 <% end %>
  </p>

