<% title "Shift Report at the #{@report.shift.location.name}" %>

<p>
  <strong>Arrived:</strong>
  <%=h @report.arrived.getlocal.to_s(:short_name) %>
</p>
<%= render :partial => 'report_items' %>
<p>
  <% if @report.departed %>
    <strong>Departed:</strong>
    <%=h @report.departed.getlocal.to_s(:short_name) %>
  <% else #report is still in progress %>
    <%= button_to "End shift", {:action => :update, :id => @report, :sign_out => true}, {:method => :put} %>
  <% end %>
  </p>

