<% title "Report" %>

THIS PAGE will act as a report page, allowing you to add report items, etc.

The categories you see below will be automatically handled behind the scenes.

<p>
  <strong>Arrived:</strong>
  <%=h @report.arrived %>
</p>
<p>
  <% if @report.departed %>
    <strong>Departed:</strong>
    <%=h @report.departed %>
  <% else #report is still in progress %>
    <%= button_to "End shift", {:action => :update, :id => @report, :sign_out => true}, {:method => :put} %>
  <% end %>
  </p>

<p>
  <%= link_to "View All", shift_reports_path(@report.shift) %>
</p>

