<% title "Report" %>

<p>
  <strong>Arrived:</strong>
  <%=h @report.arrived %>
</p>
<%= render :partial => 'report_items' %>
<p>
  <% if @report.departed %>
    <strong>Departed:</strong>
    <%=h @report.departed %>
  <% else #report is still in progress %>
    <%= button_to "End shift", {:action => :update, :id => @report, :sign_out => true}, {:method => :put} %>
  <% end %>
  </p>

