<% title "Shift Report at the #{@report.shift.location.name}" %>
<% unless @report.departed || current_user != @report.user %>
<div id = "message_center">
  <%= render :partial => 'notices/message_center', :object => @report %>
</div>
  <br/>
    <fieldset class='index'>
      <legend>Data Objects</legend>
        <%= render :partial => 'data_objects/report_data_object', :collection => @report.data_objects %>
    </fieldset>

  <%= render :partial => 'new_report_item_form' %>
<% end %>
  </p>
<%= render :partial => 'report'%>

