<div id = "right_stuff">
  <fieldset id = "report_data_objects" class = "index">
     <legend>Data Objects</legend>
     <%= render :partial => 'data_objects/report_data_object' %>
  </fieldset>

  <fieldset id = "shift_tasks" class= "index">
	<legend>Shift Tasks</legend>
	<div id = "tasks">
    <%= render :partial => 'tasks/report_tasks' %>
	</div>
  </fieldset>
</div>