<div id="group_by">
  <%= select_tag "view_options[group_by]", options_for_select(@group_by_options,
                                           @group_by_options.select{|opt|opt.include?@selected_by.to_i}) %>
  <%= observe_field('view_options_group_by',
      :url => { :controller => :data_objects,
                :action => :index, 
                :layout => false},
      :method => :get,     
      :with => "'group_by=' + escape(value) + '&group_type=' + \'#{@selected_type}\'",    
      :on => "change") %>
</div>
