<% report_items.to_a.each do |report_item| %>
	<tr class=<%= cycle('list_report_item_odd', 'list_report_item_even')%> > 
		<td class="user_name"><%=h link_to report_item.user.name, user_path(report_item.user.id) %>
		<td class="timestamp"><%=h report_item.time.getlocal.to_s(:am_pm) %></td>
		<td class="report_item_content"> <%= report_item.content_with_formatting %></td>
	</tr>
<% end %>