<% content_for :head do %>
  <% stylesheet 'report'%>
	<%= javascript_include_tag :defaults %>
<% end %>


<table class="tablesorter">
	<thead>
		<tr>
		 <th colspan=3>Recent Report Items at the <%= @location.name %></th>
		</tr>
	</thead>
	<tbody id="all_report_items">
		<%= render :partial => 'report_items' %>
	</tbody>
</table>

<% form_remote_tag :url => { :action => :display_report_items, :id => @location.id, :more_items => true } do %>
	<%= submit_tag "Display More" %>
<% end %>