<div id="application_tab_bar" class="bootstrap-styles">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class='navbar-header'>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#shifts_navbar">
          <span class='sr-only'>Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Shifts", root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse" id='shifts_navbar'>
        <!-- This provides an additional "STC" button which also links back to the Dashboard.
               A fix is provided to change the behavior for a user with a single department   -->
        <%= render partial: "layouts/include/chooser" if current_user%>
        <!-- If the user has a current shift, display a button for them -->
        <%= render partial: "layouts/include/shift_indicator" if current_user%>
        <!-- The rest of the navigation menu: Departments, Users, Shifts, Actions, Payforms  -->
        <%= render partial: "layouts/include/nav" if current_user %>
      </div>
    </div>
</div>
