<% content_for :head do %>
  <%= stylesheet_link_tag 'shift', 'timeline', 'notice'%>
<% end %>

<%= render :partial => "layouts/dashboard_menu.html.erb" %>

<% content_for :body do %>

  <%= yield %>

  <div class="clear"></div>
<% end -%>

<%= render :file => "layouts/application.html.erb" %>