<% content_for :head do %>
  <% stylesheet 'shift', 'report' %>
<% end %>

<% content_for :left_nav do %>
  <ul id="navigationList">
    <li><%= link_to_remote 'Post a new notice', :url => new_notice_path + "height=300&width=300", :method => :get, :html => {:class => "thickbox"}%></li>
    <% if current_user.is_admin_of?(current_department) %>
      <li><%= link_to 'Notice archive', 'notices/archive' %></li>
    <% end %>
  </ul>
  <div id="contentNav">
<% end %>


<% content_for :body do %>

  <%= yield %>

  <div class="clear"></div>
<% end -%>

<%= render :file => "layouts/application.html.erb" %>

