<% content_for :head do %>
  <% stylesheet 'thickbox', 'notice', 'shift', 'tokeninput-facebook', 'application' %>
  <% javascript 'jrails', 'jquery', 'jquery-ui', 'thickbox-compressed', 'jquery.tokeninput', 'checkboxtest' %>
<% end %>

<% content_for :left_nav do %>
  <ul id="navigationList">

    <li><%= link_to_unless_current 'Post a new notice', new_notice_path + "?height=500&width=600", :title => "Create New Notice", :class => "thickbox" %>
  </li>
    <% if current_user.is_admin_of?(current_department) %>
      <li><%= link_to 'Notice archive', 'notices/archive' %></li>
    <% end %>
  </ul>
  <div id="contentNav">
<% end %>


<% content_for :body do %>

  <%= yield %>

  <div class="clear"></div>
<% end -%>

<%= render :file => "layouts/application.html.erb" %>

