<% content_for :head do %>
  <%= stylesheet 'thickbox', 'payforms' %>
<% end %>

<%= render :partial => "layouts/payforms_menu.html.erb" %>

<% content_for :body do %>

  <%= yield %>
  <div class="clear"></div>

<% end %>

<%= render :file => "layouts/application.html.erb" %>
