<% content_for :head do %>
  <%# stylesheet 'shift', 'timeline'%>
  <%# javascript 'sorttable' %>
<% end %>

<% content_for :left_nav do %>
  <ul id="navigationList">
  </ul>
  <div id="contentNav">
<% end %>

<% content_for :body do %>

  <%= yield %>

  <div class="clear"></div>
<% end -%>

<%= render :file => "layouts/application.html.erb" %>

