<% inside_layout 'application' do %>
    <div id="nav_column">
      <ul>
        <li><%= link_to "New Role", new_department_role_path(@department) %></li>
        <li><%= link_to "All Roles", department_roles_path(@department) %></li>
      <ul>
    </div>

    <div id="tab_content">
      <%= yield %>
    </div>

    <div class="clear"></div>
<% end -%>

