<% content_for :head do %>

  <%# put payform specific head info here %>
  <% stylesheet 'shift', 'report' %>

<% end %>

<% content_for :body do %>
  
  <%= yield %>

  <div class="clear"></div>
<% end -%>

<%= render :file => "layouts/application.html.erb" %>
