<% # NOTE: this method inside_layout is just a slight improvement over what I covered at training; the idea behind is the same -%>
<% inside_layout 'application' do %>
    <%= yield %>

    <div class="clear"></div>
<% end -%>

