<% # NOTE: this method inside_layout is just a slight improvement over what I covered at training; the idea behind is the same -%>
<% inside_layout 'application' do %>
    <div id="nav_column">
      <ul>
        <li><%= link_to_unless_current "New User", new_department_user_path(@department) %></li>
        <li><%= link_to_unless_current "Mass Add", mass_add_department_users_path(@department) %></li>
        <li><%= link_to_unless_current "All Users", department_users_path(@department) %></li>
      <ul>
    </div>

    <div id="tab_content">
      <%= yield %>
    </div>

    <div class="clear"></div>
<% end -%>

